.text-white {
	color: #fff;
}

.text-blue {
	color: $color-blue;
}

.text-blue-light {
	color: $color-blue-light;
}

.text-red {
	color: $color-red;
}

.text-center {
	text-align: center;
}

.text-weight-light {
	font-weight: 300;
}

.text-weight-bold {
	font-weight: 700;
}
