.card {
	position: relative;
	z-index: 0;
	padding: 37px 42px 40px;
	border-radius: 25px;
	background-color: $color-blue;
	color: $color-white;
	overflow: hidden;

	&__title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 35px;
	}

	&__title {
		margin: 0;
		font-family: $font-additional;
		font-size: 32px;
		line-height: 36px;
		font-weight: 900;
	}

	&__arrow {
		width: 16px;
		height: 32px;
	}

	&__bg-box {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::after {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(207.16deg, #004996 4.01%, #429EDD 97.99%);
			content: "";
			opacity: 0;
			transition: opacity $transition-default;
		}

		.card:hover & {
			&::after {
				opacity: 1;
			}
		}
	}

	&__bg {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
