@import "blocks/header";
@import "blocks/search-form";
@import "blocks/dropdown";
@import "blocks/button";
@import "blocks/footer";
@import "blocks/social";
@import "blocks/card";
@import "blocks/nav-list";
@import "blocks/slider";
@import "blocks/form-control";
@import "blocks/news-card";
@import "blocks/news-row";
@import "blocks/tabs";
@import "blocks/breadcrumb";
@import "blocks/list-arrow";
@import "blocks/job-search";
@import "blocks/results";
@import "blocks/decision";
@import "blocks/about-people";
@import "blocks/about-gallery";
@import "blocks/about-download";
@import "blocks/timeline";

@import "sections/section-ready";
@import "sections/section-nav";
@import "sections/section-services";
@import "sections/section-slider-terminal";
@import "sections/section-partner";
@import "sections/section-contacts";
@import "sections/section-news";
@import "sections/section-industries";
@import "sections/section-invite";
@import "sections/section-hero";
@import "sections/section-request";
@import "sections/section-description";
@import "sections/section-slider";
@import "sections/section-404";
@import "sections/section-press-list";
@import "sections/section-career";
@import "sections/section-video-link";
@import "sections/section-vacancy";
@import "sections/section-vacancy-item";
@import "sections/section-text";
@import "sections/section-actions";
@import "sections/section-service-list";
@import "sections/section-experience";
@import "sections/section-other-services";
@import "sections/section-terminals";
@import "sections/section-case-list";
@import "sections/section-contact-info";
@import "sections/section-about";
