.nav-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 38px;
	margin: 0;
	padding: 0;
	list-style-type: none;

	&__elem {
		min-height: 80px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 16px 20px;
		border-radius: 25px;
		background-color: #e7eef4;
		border: 2px solid #e7eef4;
		font-size: 24px;
		line-height: 24px;
		letter-spacing: .01em;
		color: $color-blue;
		text-align: center;
		transition: background-color $transition-default, border-color $transition-default;

		&:hover {
			background-color: $color-transparent;
			border-color: $color-blue;
		}
	}
}
