// Footer
footer.footer
	.container
		.footer__row
			// Nav col
			.footer__col
				p.footer__nav-title Индустрии
				ul.footer__nav-list
					li.footer__nav-elem
						a.footer__nav-link.footer__nav-link--active(href="#") Fashion
					li.footer__nav-elem
						a.footer__nav-link(href="#") Telecom
					li.footer__nav-elem
						a.footer__nav-link(href="#") Healthcare
					li.footer__nav-elem
						a.footer__nav-link(href="#") Автомотив
					li.footer__nav-elem
						a.footer__nav-link(href="#") POSM
					li.footer__nav-elem
						a.footer__nav-link(href="#") FMCG
				ul.footer__logo-list.footer__logo-list--desktop
					li.footer__logo-list-elem
						a.footer__logo-list-link(href="#", target="_blank", rel="noreferrer")
							img.footer__logo-list-img(src="images/common/logo-t.png", alt="Major")
					li.footer__logo-list-elem
						a.footer__logo-list-link(href="#", target="_blank", rel="noreferrer")
							img.footer__logo-list-img(src="images/common/logo-m.png", alt="Major")
			// Nav col
			.footer__col
				p.footer__nav-title Услуги
				ul.footer__nav-list
					li.footer__nav-elem
						a.footer__nav-link(href="#") Ответственное хранение
					li.footer__nav-elem
						a.footer__nav-link(href="#") Складская обработка
					li.footer__nav-elem
						a.footer__nav-link(href="#") Копакинг
					li.footer__nav-elem
						a.footer__nav-link(href="#") Производственная логистика
					li.footer__nav-elem
						a.footer__nav-link(href="#") Фулфилмент
					li.footer__nav-elem
						a.footer__nav-link(href="#") Маркировка Честный знак
					li.footer__nav-elem
						a.footer__nav-link(href="#") Кросс-докинг
			// Nav col
			.footer__col
				p.footer__nav-title Major Terminal
				ul.footer__nav-list.footer__nav-list--show-laptop
					li.footer__nav-elem
						a.footer__nav-link(href="#") О нас
					li.footer__nav-elem
						a.footer__nav-link(href="#") Кейсы
					li.footer__nav-elem
						a.footer__nav-link(href="#") Новости
					li.footer__nav-elem
						a.footer__nav-link(href="#") Терминалы
					li.footer__nav-elem
						a.footer__nav-link(href="#") Контакты
					li.footer__nav-elem
						a.footer__nav-link(href="#") Вебинары
					li.footer__nav-elem
						a.footer__nav-link(href="#") Карьера
			// Contact col
			.footer__col
				a.footer__logo-link(href="/")
					img.footer__logo(src="images/common/logo-major-terminal.svg", alt="Major")
				.footer__links-box
					a.footer__link(href="tel:84957376006") 8 (495) 737 60 06
					a.footer__link(href="mailto:sales_mt@mjr.ru") sales_mt@mjr.ru
				a.footer__link-contacts(href="/") Связаться с нами
				//.footer__social-box
					.footer__social-wrapper
						p.footer__text Мы в социальных сетях
						ul.footer__social.social
							li.social__elem
								a.social__link(href="#", target="_blank", rel="noreferrer", aria-label="Youtube")
									+svg("youtube", true)(class="social__link-icon")
							li.social__elem
								a.social__link(href="#", target="_blank", rel="noreferrer", aria-label="Telegram")
									+svg("telegram", true)(class="social__link-icon")
					ul.footer__logo-list.footer__logo-list--mobile
						li.footer__logo-list-elem
							a.footer__logo-list-link(href="#", target="_blank", rel="noreferrer")
								img.footer__logo-list-img(src="images/common/logo-major-squares.svg", alt="Major")
						li.footer__logo-list-elem
							a.footer__logo-list-link(href="#", target="_blank", rel="noreferrer")
								img.footer__logo-list-img(src="images/common/logo-major-e.png", alt="Major")
		// Copyright
		.footer__copyright
			.footer__copyright-col
				p.footer__copyright-text
					|2023 © Major Terminal.
					br
					| Все права защищены. Использование текстовой или графической информации  с сайта major-terminal.ru возможно исключительно с разрешения правообладателя.
			.footer__copyright-col.footer__copyright-col--link
				a.footer__copyright-link(href="#") Пользовательское соглашение
			.footer__copyright-col.footer__copyright-col--link
				a.footer__copyright-link(href="#") Политика конфиденциальности
