// Header
header.header
	// Search
	.header__search-form
		form.search-form
			.container
				.search-form__row
					button.search-form__submit(aria-label="Искать")
						+svg("search-loupe")(class="search-form__submit-icon")
					input.search-form__input(placeholder="Поиск...")
					button.search-form__close-button.js-search-toggle(type="button", aria-label="Закрыть поиск")
	// Top block
	.header__row
		.header__top-box.container
			ul.header__logo-list
				li.header__logo-list-elem
					a.header__logo-list-link(href="#", target="_blank", rel="noreferrer")
						img.header__logo-list-img(src="images/common/logo-major-squares.svg", alt="Major")
				li.header__logo-list-elem
					a.header__logo-list-link(href="#", target="_blank", rel="noreferrer")
						img.header__logo-list-img(src="images/common/logo-major-e.png", alt="Major")
			p.header__text
				a.header__phone(href="tel:84957376006") 8 (495) 737 60 06
				|
				| — Секретариат
			.header__search
					button.header__search-button.js-search-toggle
						+svg("search-loupe")(class="header__search-button-icon")
						|Поиск...
			.header__lang
				.dropdown.dropdown--with-flag
					.dropdown__value-box
						+svg("flag-ru")(class="dropdown__flag")
						input.dropdown__value(type="text", value="Русский", disabled)
						+svg("chevron-dropdown")(class="dropdown__arrow")
					ul.dropdown__options-list
						li.dropdown__option.dropdown__option--selected(data-value="Русский")
							+svg("flag-ru")(class="dropdown__flag")
							| Русский
						li.dropdown__option(data-value="English")
							+svg("flag-ru")(class="dropdown__flag")
							| English
	// Navigation
	.header__row
		.header__nav-box.container
			a.header__logo-link(href="/")
				img.header__logo-img(src="images/common/logo-major-terminal.svg", alt="Major Terminal")
			nav.header__nav
				ul.header__nav-list
					li.header__nav-elem
						a.header__nav-link.header__nav-link--active(href="#") Индустрии
					li.header__nav-elem
						a.header__nav-link(href="#") Услуги
					li.header__nav-elem
						a.header__nav-link(href="#") Кейсы
					li.header__nav-elem
						a.header__nav-link(href="#") Устойчивое развитие
					li.header__nav-elem
						a.header__nav-link(href="#") Пресс-релизы
					li.header__nav-elem
						a.header__nav-link(href="#") Карьера
					li.header__nav-elem
						a.header__nav-link(href="#") Терминалы
					li.header__nav-elem
						a.header__nav-link(href="#") О нас
					li.header__nav-elem
						a.header__nav-link(href="#") Контакты
			a.header__button-enter(href="#")
				img.header__button-enter-icon(src="images/common/logo-map.png", alt)
				|Вход в MAP
