// Header
header.header
	// Search
	.header__search-form
		form.search-form
			.container
				.search-form__row
					button.search-form__submit(aria-label="Искать")
						+svg("search-loupe")(class="search-form__submit-icon")
					input.search-form__input(placeholder="Поиск...")
					button.search-form__close-button.js-search-toggle(type="button", aria-label="Закрыть поиск")
	// Top block
	.header__row
		.header__top-box.container
			a.header__logo-link.header__logo-link--mobile(href="/")
				img.header__logo-img(src="images/common/logo-major-terminal.svg", alt="Major Terminal")
			p.header__text
				a.header__phone(href="tel:84957376006") 8 (495) 737 60 06
				|
				|
				span.header__text-dash —
				|
				| Секретариат
			button.header__search-button.js-search-toggle(aria-label="Поиск")
				+svg("search-loupe")(class="header__search-button-icon")
			.header__lang
				.dropdown.dropdown--with-flag
					.dropdown__value-box
						img.dropdown__flag(src="images/common/flag-ru.svg", alt)
						input.dropdown__value(type="text", value="Русский", disabled)
						+svg("chevron-dropdown", true)(class="dropdown__arrow")
					ul.dropdown__options-list
						li.dropdown__option.dropdown__option--selected(data-value="Русский")
							img.dropdown__flag(src="images/common/flag-ru.svg", alt)
							span.dropdown__lang-text Русский
						li.dropdown__option(data-value="English")
							img.dropdown__flag(src="images/common/flag-en.svg", alt)
							span.dropdown__lang-text English
			button.header__burger-btn(aria-label="Мобильное меню")
				+svg("burger", true)(class="header__burger")
				+svg("menu-close")(class="header__close")
	// Navigation
	.header__row.header__row--nav
		.header__nav-box.container
			a.header__logo-link(href="/")
				img.header__logo-img(src="images/common/logo-major-terminal.svg", alt="Major Terminal")
			nav.header__nav
				ul.header__nav-list
					li.header__nav-elem.header__nav-elem--parent.header__nav-elem--parent-with-blocks
						a.header__nav-link(href="#") Индустрии
						.header__nav-child
							.container
								ul.header__nav-child-list
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Fashion
											img.header__nav-child-link-bg(src="images/simple-card/img1.jpg", alt)
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Healthcare
											img.header__nav-child-link-bg(src="images/simple-card/img2.jpg", alt)
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Automotive
											img.header__nav-child-link-bg(src="images/simple-card/img3.jpg", alt)
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") FMCG
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Telecom
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") POSM
								a.button-arrow.header__nav-child-btn(href="#") Все индустрии
					li.header__nav-elem.header__nav-elem--parent
						a.header__nav-link(href="#") Услуги
						.header__nav-child
							.container
								ul.header__nav-child-list
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Ответственное хранение
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Фуллфилмент
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Упаковка
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Кросс-докинг
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Таможенный склад
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Копакинг
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Производственная логистика
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Еще услуга
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Еще услуга
								a.button-arrow.header__nav-child-btn(href="#") Все услуги
					li.header__nav-elem
						a.header__nav-link(href="#") Кейсы
					li.header__nav-elem.header__nav-elem--parent.header__nav-elem--parent-with-short-list
						a.header__nav-link(href="#") Устойчивое развитие
						.header__nav-child
							.container
								ul.header__nav-child-list
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Служба качества
									li.header__nav-child-elem
										a.header__nav-child-link(href="#") Охрана труда
					li.header__nav-elem
						a.header__nav-link(href="#") Пресс-релизы
					li.header__nav-elem
						a.header__nav-link.header__nav-link--active(href="#") Карьера
					li.header__nav-elem
						a.header__nav-link(href="#") Терминалы
					li.header__nav-elem
						a.header__nav-link(href="#") О нас
					li.header__nav-elem
						a.header__nav-link(href="#") Контакты
			a.header__button-enter(href="#")
				img.header__button-enter-icon(src="images/common/logo-map.png", alt)
				|Вход в MAP
	.header__mobile-menu
		.container.header__mobile-menu-container
			.mobile-nav
				.mobile-nav__block
					a.mobile-nav__nav-title(href="#") Индустрии
				.mobile-nav__block
					a.mobile-nav__nav-title(href="#") Услуги
				.mobile-nav__block
					a.mobile-nav__nav-title(href="#") Кейсы
				.mobile-nav__block
					a.mobile-nav__nav-title(href="#") Терминалы
				.mobile-nav__block
					a.mobile-nav__nav-title(href="#") Карьера
				.mobile-nav__block
					a.mobile-nav__nav-title(href="#") Вебинары
				.mobile-nav__block
					a.mobile-nav__nav-title(href="#") Новости
				.mobile-nav__block
					span.mobile-nav__nav-title Устойчивое развитие
						+svg("menu-dropdown")(class="mobile-nav__mobile-menu-dropdown")
					ul.mobile-nav__nav-list
						li.mobile-nav__nav-elem
							a.mobile-nav__nav-link(href="#") Охрана труда
						li.mobile-nav__nav-elem
							a.mobile-nav__nav-link(href="#") Служба качества
				.mobile-nav__block
					a.mobile-nav__nav-title(href="#") О нас
				.mobile-nav__block
					a.mobile-nav__nav-title(href="#") Контакты
