.about-people {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 33px;
	grid-row-gap: 46px;

	&__card {
		display: flex;
		flex-direction: column;
		margin: 0;
		border-radius: 25px;
		overflow: hidden;
	}

	&__photo-box {
		position: relative;
		background-color: rgba(#004996, .3);

		&::before {
			display: block;
			padding-top: 100%;
			content: "";
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 109px;
			height: 109px;
			background-image: url("data:image/svg+xml,%3Csvg width='109' height='109' viewBox='0 0 109 109' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.5013 18.1667C59.3194 18.1667 63.9402 20.0807 67.3471 23.4876C70.754 26.8945 72.668 31.5153 72.668 36.3334C72.668 41.1515 70.754 45.7722 67.3471 49.1791C63.9402 52.586 59.3194 54.5 54.5013 54.5C49.6832 54.5 45.0624 52.586 41.6555 49.1791C38.2486 45.7722 36.3346 41.1515 36.3346 36.3334C36.3346 31.5153 38.2486 26.8945 41.6555 23.4876C45.0624 20.0807 49.6832 18.1667 54.5013 18.1667ZM54.5013 63.5834C74.5755 63.5834 90.8346 71.7129 90.8346 81.75V90.8334H18.168V81.75C18.168 71.7129 34.4271 63.5834 54.5013 63.5834Z' fill='white'/%3E%3C/svg%3E%0A");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			content: "";
		}
	}

	&__photo {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__caption-box {
		flex-grow: 1;
		position: relative;
		z-index: 2;
		margin-top: -43px;
		padding: 31px 33px;
		background-color: $color-white;
		border-radius: 25px;
		color: $color-black;
		transition: background-color $transition-default, color $transition-default;

		&::after {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 36px;
			height: 36px;
			background-color: $color-blue;
			border-radius: 10px 10px 25px 10px;
			content: "";
		}

		.about-people__card:hover & {
			background-color: $color-blue;
			color: $color-white;
		}
	}

	&__name {
		margin-top: 0;
		margin-bottom: 18px;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 35px;
		font-weight: 700;
	}

	&__job-title {
		margin: 0;
		font-family: $font-secondary;
		font-size: 14px;
		line-height: 14px;
		font-weight: 300;
	}
}
