.breadcrumb {
	display: none;
	padding-top: 24px;
	padding-bottom: 24px;

	@media (min-width: $breakpoint-laptop) {
		display: block;
	}

	&__list {
		display: flex;
		margin: 0 -8px;
		padding: 0;
		list-style-type: none;
		font-size: 14px;
		line-height: 14px;
		color: $color-black;

		.breadcrumb--white & {
			color: $color-white;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 0 8px;
	}

	&__link {
		font-weight: 500;
		color: inherit;
	}

	&__current {
		font-weight: 300;
	}

	&__arrow {
		flex-shrink: 0;
		width: 9px;
		height: 18px;
		margin-left: 16px;
		color: $color-blue;

		.breadcrumb--white & {
			color: $color-white;
		}
	}
}
