.card {
	position: relative;
	z-index: 0;
	min-height: 379px;
	padding: 37px 42px 40px;
	border-radius: 25px;
	background-color: $color-blue;
	color: $color-white;
	overflow: hidden;

	&--text-top {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 70px;
		padding-bottom: 49px;
	}

	&--experience,
	&--cases {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-height: 300px;
		padding: 34px 26px 29px;
	}

	&--cases {
		border-radius: 10px;
	}

	&--other-services {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 37px 45px 48px;
	}

	&__title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 35px;

		.card--text-top & {
			margin-top: auto;
		}

		.card--experience & {
			margin-top: auto;
			width: 100%;
			margin-bottom: 17px;
		}

		.card--cases & {
			 width: 100%;
			 margin-bottom: 17px;
		 }

		.card--text-top-medium & {
			margin-bottom: 29px;
		}

		.card--other-services &{
			margin-top: auto;
			margin-bottom: 31px;
		}
	}

	&__title {
		margin: 0;
		font-family: $font-additional;
		font-size: 32px;
		line-height: 36px;
		font-weight: 900;

		.card--experience &,
		.card--cases & {
			font-family: $font-primary;
		}
	}

	&__arrow {
		width: 22px;
		height: 36px;

		.card--experience &,
		.card--cases & {
			width: 40px;
			height: 74px;
			margin-right: 23px;
		}
	}

	&__bg-box {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::after {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(207.16deg, #004996 4.01%, #429EDD 97.99%);
			content: "";
			opacity: 0;
			transition: opacity $transition-default;
		}

		.card:hover & {
			&::after {
				opacity: 1;
			}
		}
	}

	&__bg {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text-box {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 18px;
		font-weight: 500;
		opacity: 0;
		transform: translateX(-20px);
		transition: opacity $transition-default, transform $transition-default;

		.card--text-top-medium & {
			font-family: $font-secondary;
			font-size: 24px;
			line-height: 24px;
		}

		.card:hover & {
			opacity: 1;
			transform: none;
		}

		.card--cases & {
			margin: auto 0;
			font-family: $font-additional;
			font-size: 14px;
			line-height: 18px;
			font-weight: 500;
		}
	}

	&__text {
		margin: 0;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__btn-more {
		transition: transform $transition-default;

		.card--text-top & {
			width: 100%;
			max-width: 140px;
		}
		.card--text-top:hover & {
			transform: translateY(-7px);
		}
		.card--other-services & {
			width: 100%;
			max-width: 147px;
		}
	}

	&__tag-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
		padding: 0;
		list-style-type: none;
	}

	&__tag {
		margin: 0 8px 8px;
		padding: 7px 21px;
		border-radius: 20px;
		background-color: $color-white;
		font-family: $font-additional;
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		color: $color-blue;

		.card--cases & {
			font-family: $font-secondary;
			font-weight: 700;
		}
	}
}
