.card {
	position: relative;
	z-index: 0;
	padding: 37px 42px 40px;
	border-radius: 10px;
	background-color: $color-blue;
	color: $color-white;
	overflow: hidden;

	@media (min-width: $breakpoint-laptop) {
		border-radius: 25px;
	}

	&--small-radius {
		border-radius: 10px;
	}

	&--with-icon {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 34px 25px;

		@media (min-width: $breakpoint-desktop) {
			padding: 48px 42px;
		}
	}

	&--text-top {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 70px;
		padding-bottom: 49px;
	}

	&--experience,
	&--cases {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-height: 265px;
		padding: 34px 26px 29px;

		@media (min-width: $breakpoint-laptop) {
			min-height: 300px;
		}
	}

	&--other-services {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 37px 45px 48px;
		min-height: 379px;
	}

	&__title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 35px;

		.card--text-top & {
			margin-top: auto;
		}

		.card--experience & {
			margin-top: auto;
			width: 100%;
			margin-bottom: 17px;
		}

		.card--cases & {
			width: 100%;
			margin-bottom: 0;

			@media (min-width: $breakpoint-laptop) {
				margin-bottom: 17px;
			}
		}

		.card--text-top-medium & {
			margin-bottom: 29px;
		}

		.card--other-services & {
			margin-top: auto;
			margin-bottom: 31px;
		}

		.card--with-icon & {
			@media (max-width: $breakpoint-desktop) {
				margin-bottom: 23px;
			}
		}
	}

	&__title {
		margin: 0;
		font-family: $font-additional;
		font-size: 24px;
		line-height: 36px;
		font-weight: 900;

		@media (min-width: $breakpoint-laptop) {
			font-size: 32px;
		}

		.card--experience &,
		.card--cases & {
			font-family: $font-primary;
		}
	}

	&__arrow {
		width: 22px;
		height: 36px;

		.card--experience &,
		.card--cases & {
			display: none;
			width: 40px;
			height: 74px;
			margin-right: 23px;

			@media (min-width: $breakpoint-laptop) {
				display: block;
			}
		}
	}

	&__bg-box {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::after {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(207.16deg, #004996 4.01%, #429EDD 97.99%);
			content: "";
			opacity: 0;
			transition: opacity $transition-default;
		}

		.card:hover & {
			&::after {
				opacity: 1;
			}
		}

		.card--with-icon & {
			&::after {
				background: #004996;
			}
		}
	}

	&__bg {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text-box {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 18px;
		font-weight: 500;
		opacity: 0;
		transform: translateX(-20px);
		transition: opacity $transition-default, transform $transition-default;

		.card--text-top-medium & {
			font-family: $font-secondary;
			font-size: 24px;
			line-height: 24px;
		}

		.card:hover & {
			opacity: 1;
			transform: none;
		}

		.card--cases & {
			margin: auto 0;
			font-family: $font-additional;
			font-size: 14px;
			line-height: 18px;
			font-weight: 500;
		}
	}

	&__text {
		margin: 0;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__btn-more {
		transition: transform $transition-default;

		.card--text-top & {
			width: 100%;
			max-width: 140px;
		}

		.card--other-services & {
			width: 100%;
			max-width: 147px;
		}

		.card--with-icon & {
			width: 100%;
			max-width: 147px;
			padding: 4px 14px;
		}
	}

	&__tag-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
		padding: 0;
		list-style-type: none;
	}

	&__tag,
	&__tag-link {
		margin: 0 8px 16px;
		padding: 7px 21px;
		border-radius: 20px;
		background-color: $color-white;
		font-family: $font-additional;
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		color: $color-blue;

		&:nth-child(n+3) {
			display: none;

			@media (min-width: $breakpoint-desktop) {
				display: inline-block;
			}
		}

		.card--cases & {
			font-family: $font-secondary;
			font-weight: 700;
		}

		&--hidden {
			display: none !important;

			.card__tag-list--expanded & {
				display: inline-block !important;
			}
		}

		&--more {
			cursor: pointer;

			.card__tag-list--expanded & {
				display: none !important;
			}
		}
	}

	&__tag-wrapper {
		margin: 0 8px 16px;

		&:nth-child(n+3) {
			display: none;

			@media (min-width: $breakpoint-desktop) {
				display: inline-block;
			}
		}

		.card--cases & {
			font-family: $font-secondary;
			font-weight: 700;
		}
	}

	&__tag-link {
		display: inline-block;
		margin: 0;
	}

	&__icon {
		display: inline-block;
		margin-bottom: auto;
		max-height: 56px;

		@media (min-width: $breakpoint-desktop) {
			max-height: 90px;
		}
	}
}
