.footer {
	background-color: $color-white;
	overflow: hidden;

	&__container {
		position: relative;
		padding-top: 124px;
		padding-bottom: 76px;
		z-index: 0;
		height: 100%;

		&::before, &::after {
			position: absolute;
			z-index: -1;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			content: "";
		}

		&::before {
			top: 124px;
			left: 30px;
			width: 330px;
			height: 430px;
			background-image: url("../images/footer/bg1.svg");
		}

		&::after {
			bottom: 104px;
			right: -60px;
			width: 606px;
			height: 340px;
			background-image: url("../images/footer/bg2.svg");
		}

		.footer--low-top-padding & {
			padding-top: 14px;
		}
	}

	&__row {
		display: flex;
		margin: 0 -30px;
	}

	&__col {
		flex-grow: 1;
		padding: 0 30px;

		&--contacts {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			max-width: 440px;
			font-size: 18px;
			line-height: 18px;
		}
	}

	&__nav-title {
		margin-top: 0;
		margin-bottom: 38px;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		color: $color-blue;
	}

	&__nav-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__nav-elem {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__nav-link {
		color: #1E1E1E;
		transition: color $transition-default;

		&:hover {
			color: $color-red;
		}
	}

	&__logo-link {
		display: inline-block;
		margin-bottom: 21px;
	}

	&__logo {
		width: 100%;
	}

	&__text-secretariat {
		margin-top: 0;
		margin-bottom: 11px;
		font-weight: 300;
	}

	&__text {
		margin-top: 0;
		margin-bottom: 18px;
		font-size: 16px;
		font-weight: 700;
	}

	&__link {
		font-weight: 700;
		color: $color-black;
		transition: color $transition-default;

		&:hover {
			color: $color-red;
		}

		&--mail {
			margin-bottom: 48px;
		}

		&--contacts {
			margin-bottom: 20px;
			font-size: 16px;
			font-weight: 500;
			color: $color-blue;

			&:hover {
				color: $color-red;
			}
		}
	}

	&__social {
	}
}
