.footer {
	font-family: $font-secondary2;
	font-weight: 500;
	background-color: $color-blue-light3;
	overflow: hidden;

	&__row {
		padding-top: 48px;
		padding-bottom: 34px;
		border-bottom: 1px solid $color-blue;
		border-top: 5px solid $color-blue;

		@media (min-width: $breakpoint-laptop) {
			border-top: 12px solid $color-blue;
			display: grid;
			grid-template-columns: repeat(3, 1fr) 373px;
			grid-template-rows: auto;
			justify-content: space-between;
			padding-top: 87px;
			padding-bottom: 54px;
		}
	}

	&__nav-title {
		margin-top: 0;
		margin-bottom: 32px;
		font-size: 24px;
		line-height: 32px;
		color: $color-blue;
	}

	&__nav-list {
		display: none;
		margin: 0;
		padding: 0;
		list-style-type: none;

		@media (min-width: $breakpoint-laptop) {
			display: block;
		}

		&--show-laptop {
			display: block;
			margin-bottom: 50px;

			@media (min-width: $breakpoint-laptop) {
				display: block;
				margin-bottom: 0;
			}
		}
	}

	&__nav-elem {
		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}

	&__nav-link {
		font-size: 18px;
		line-height: 24px;
		color: #090909;
		transition: color $transition-default;

		&:hover,
		&--active {
			color: $color-red;
		}
	}

	&__logo-link {
		display: inline-block;
		width: 110px;
		margin-bottom: 48px;

		@media (min-width: $breakpoint-laptop) {
			margin-bottom: 57px;
		}
	}

	&__logo {
		width: 100%;
	}

	&__links-box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 30px;
	}

	&__link {
		font-size: 24px;
		line-height: 32px;
		color: $color-black;
		transition: color $transition-default;

		&:not(:last-child) {
			margin-bottom: 9px;
		}

		&:hover {
			color: $color-red;
		}
	}

	&__link-hide-mobile {
		display: none;

		@media (min-width: $breakpoint-laptop) {
			display: inline;
		}
	}

	&__link-contacts {
		display: inline-block;
		margin-bottom: 20px;
		font-size: 16px;
		color: $color-blue;

		&:hover {
			color: $color-red;
		}
	}

	&__text {
		margin-top: 0;
		margin-bottom: 18px;
	}

	&__copyright {
		padding-top: 29px;
		padding-bottom: 37px;
		font-size: 14px;
		line-height: 1;
		color: #1E1E1E;

		@media (min-width: $breakpoint-laptop) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin: 0 -24px;
			padding-top: 37px;
			padding-bottom: 64px;
		}
	}

	&__copyright-col {
		display: none;

		@media (min-width: $breakpoint-laptop) {
			display: block;
			padding: 0 24px;
		}

		&--link {
			display: block;
			padding: 10px 0;

			@media (min-width: $breakpoint-laptop) {
				padding: 0 24px;
			}
		}
	}

	&__copyright-text {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__copyright-link {
		opacity: .85;
		color: #1E1E1E;
		transition: opacity $transition-default, color $transition-default;

		&:hover {
			opacity: 1;
			color: $color-red;
		}
	}
}
