.header {
	position: relative;
	z-index: 100;
	background-color: $color-white;

	&__row {
		border-bottom: 1px solid rgba(#3C3C3C26, .15);
	}

	&__top-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
	}

	&__logo-list {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		margin: 0 -11px;
		list-style-type: none;
		padding-left: 0;
	}

	&__logo-list-elem {
		padding: 0 11px;
	}

	&__logo-list-link {
		display: inline-block;
	}

	&__logo-list-img {
		max-width: 100%;
	}

	&__text {
		flex-grow: 1;
		margin: 0;
		padding-left: 157px;
		font-family: $font-additional;
		font-size: 18px;
		line-height: 18px;
		font-weight: 300;
		text-align: center;
	}

	&__phone {
		font-weight: 700;
		color: inherit;
		transition: color $transition-default;

		&:hover {
			color: $color-blue;
		}
	}

	&__search-form {
		display: none;
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		transform: translateY(-100%);
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: transform $transition-default, opacity $transition-default;

		.header--search-show & {
			display: flex;
		}

		.header--search-shown & {
			display: flex;
			transform: translateY(0);
			opacity: 1;
		}
	}

	&__search-button {
		display: flex;
		align-items: center;
		padding: 0;
		border: none;
		background-color: $color-transparent;
		font-family: $font-additional;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		color: rgba($color-black, .3);
		transition: color $transition-default;

		&:hover {
			color: $color-black;
		}
	}

	&__search-button-icon {
		width: 24px;
		height: 24px;
		margin-right: 10px;
		color: $color-black;
	}

	&__lang {
		width: 138px;
		padding-left: 24px;
	}

	&__nav-box {
		display: flex;
		align-items: center;
	}

	&__logo-link {
		display: inline-block;
		margin-top: 18px;
		margin-right: 10px;
	}

	&__logo-img {
		width: 82px;
	}

	&__nav {
		margin: 0 auto;
	}

	&__nav-list {
		display: flex;
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

	&__nav-elem {
		display: inline-block;
		&--parent-with-short-list {
			position: relative;
		}
	}

	&__nav-link {
		position: relative;
		display: inline-block;
		padding: 44px 16px 49px;
		font-family: $font-secondary;
		font-size: 22px;
		line-height: 1px;
		font-weight: 700;
		color: $color-blue;
		transition: color $transition-default;

		&::after {
			position: absolute;
			top: calc(100% - 2px);
			left: 50%;
			width: 19px;
			height: 4px;
			transform: translateX(-50%) scaleX(0);
			border-radius: 4px;
			background-color: $color-transparent;
			content: "";
			transition: background-color $transition-default, transform $transition-default, opacity $transition-default;
		}

		.header__nav-elem:hover &,
		&--active {
			color: $color-red;

			&::after {
				background-color: $color-red;
				transform: translateX(-50%) scaleX(1);
			}
		}

		.header--search-show & {
			&::after {
				opacity: 0;
			}
		}
	}

	&__button-enter {
		display: inline-flex;
		align-items: center;
		font-family: $font-secondary;
		padding: 12px 23px;
		font-size: 22px;
		line-height: 1;
		font-weight: 700;
		color: $color-orange;
		border: 2px solid $color-orange;
		border-radius: 30px;
		transition: color $transition-default, border-color $transition-default;

		&:hover {
			color: $color-red;
			border-color: $color-red;
		}
	}

	&__button-enter-icon {
		flex-shrink: 0;
		width: 32px;
		margin-right: 6px;
	}

	&__nav-child {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding-top: 63px;
		padding-bottom: 77px;
		background-color: #fff;
		box-shadow: 0 4px 30px rgba($color-blue-medium, .1);

		.header__nav-elem--parent:hover & {
			display: block;
		}

		.header__nav-elem--parent-with-short-list & {
			padding-top: 31px;
			padding-bottom: 31px;
		}

		.header__nav-elem--parent-with-blocks & {
			padding-top: 58px;
			padding-bottom: 50px;
		}
	}

	&__nav-child-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-gap: 21px 21px;
		margin-top: 0;
		margin-bottom: 66px;
		padding: 0;
		list-style-type: none;

		.header__nav-elem--parent-with-short-list & {
			grid-template-columns: 1fr;
			margin-bottom: 0;
		}

		.header__nav-elem--parent-with-blocks & {
			grid-row-gap: 34px;
			margin-bottom: 48px;
		}
	}

	&__nav-child-elem {}

	&__nav-child-link {
		position: relative;
		z-index: 0;
		overflow: hidden;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		color: $color-blue-medium;
		transition: color $transition-default;

		&:hover {
			color: $color-red;
		}

		.header__nav-elem--parent-with-blocks &  {
			display: block;
			font-family: $font-additional;
			font-size: 32px;
			line-height: 32px;
			font-weight: 900;
			padding: 44px 47px;
			border-radius: 25px;
			background-color: $color-blue;
			color: $color-white;
			transition: background-color $transition-default;

			&:hover {
				background-color: darken($color-blue, 10%);
			}
		}
	}

	&__nav-child-btn {
		display: inline-block;
	}

	&__nav-child-link-bg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: opacity $transition-default;

		.header__nav-child-link:hover & {
			opacity: 0;
		}
	}
}
