.list-arrow {
	margin: 0;
	padding-left: 0;
	list-style-type: none;

	&--red-arrow {
		font-family: $font-secondary;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		color: $color-blue;

		@media (min-width: $breakpoint-desktop) {
			font-size: 24px;
			line-height: 32px;
		}
	}

	&--blue-arrow {
		font-family: $font-secondary2;
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
	}

	&__elem {
		position: relative;
		margin-bottom: 8px;
		padding-left: 34px;

		&::before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 12px;
			height: 20px;
			background-repeat: no-repeat;
			background-position: center;
			content: "";
		}

		.list-arrow--red-arrow & {
			margin-bottom: 34px;
			&::before {
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 19L10 10L1 1' stroke='%23E10000' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
			}

			@media (min-width: $breakpoint-laptop) {
				margin-bottom: 27px;
			}
		}

		.list-arrow--blue-arrow & {
			margin-bottom: 11px;
			font-family: $font-primary;
			font-weight: 500;

			&::before {
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 19L10 10L1 1' stroke='%23004996' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
				top: 1px;
				transform: none;
			}

			@media (min-width: $breakpoint-laptop) {
				margin-bottom: 27px;
				font-weight: 600;
			}
		}
	}
}
