.news-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

	&--col {
		display: block;
	}

	&__card-box {
		width: 100%;
		max-width: 33.3333%;
		padding: 0 15px;

		.news-row--two-col & {
			max-width: 50%;
		}

		.news-row--col & {
			max-width: 100%;
			margin-bottom: 37px;
			padding: 0;
		}
	}
}
