.news-card {
	position: relative;
	z-index: 0;
	display: block;
	padding-top: 156px;
	color: $color-black;
	transition: color $transition-default;

	&::before {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color-blue, .85);
		border-radius: 25px;
		opacity: 0;
		content: "";
		transition: opacity $transition-default;
	}

	&:hover {
		color: $color-white;

		&::before {
			opacity: 1;
		}
	}

	&--big {
		padding-top: 254px;
	}

	&--medium {
		padding-top: 240px;
	}

	&--radius-small {
		&::before {
			border-radius: 10px;
		}
	}

	&__img {
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 156px;
		object-fit: cover;
		object-position: top center;
		border-radius: 25px;
		transition: max-height $transition-default;

		.news-card:hover & {
			max-height: 100%;
		}

		.news-card--big & {
			max-height: 254px;
		}

		.news-card--medium & {
			max-height: 240px;
		}

		.news-card--radius-small & {
			border-radius: 10px;
		}
	}

	&__content-box {
		position: relative;
		z-index: 1;
		max-width: calc(100% - 60px);
		padding-top: 24px;
		transition: transform $transition-default;

		.news-card:hover & {
			transform: translate(30px, -22px);
		}

		.news-card--big & {
			padding-bottom: 40px;
		}

		.news-card--big:hover & {
			transform: translateX(30px);
		}
	}

	&__time {
		display: block;
		margin-bottom: 8px;
		font-family: $font-additional;
		font-size: 14px;
		line-height: 32px;
		font-weight: 700;
	}

	&__title {
		margin: 0;
		font-size: 24px;
		line-height: 32px;
		font-weight: 900;

		.news-card--big & {
			font-size: 32px;
		}
	}
}
