.news-row {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 32px;
	grid-row-gap: 52px;

	&--two-col {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 50px;
	}
}
