.results {
	&__row {
		display: flex;
		margin: 0 -70px 45px;

		.results--white-line & {
			margin: 0 -60px 32px;
		}
	}

	&__col {
		position: relative;
		margin: 0 70px;
		padding-bottom: 19px;

		.results--white-line & {
			margin: 0 60px;
			padding-bottom: 34px;
		}

		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			max-width: 106px;
			height: 3px;
			border-radius: 4px;
			background-color: $color-red;
			content: "";
		}

		.results--white-line & {
			&::after {
				background-color: $color-white;
			}
		}
	}

	&__value {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 1.2;
		font-weight: 800;
		letter-spacing: .01em;

		.results--white-line & {
			margin-bottom: 19px;
			font-size: 24px;
		}
	}

	&__text {
		margin-top: 0;
		margin-bottom: 0;
		font-family: $font-secondary;
		font-size: 14px;
		line-height: 1;
		font-weight: 700;
		letter-spacing: .01em;

		.results--white-line & {
			font-size: 14px;
			font-weight: 600;
		}
	}

	&__button {
		width: 100%;
		max-width: 243px;
	}
}
