.results {
	padding-top: 60px;
	padding-bottom: 30px;

	&--department {
		padding-top: 24px;
	}

	&__row {
		display: flex;
		align-items: stretch;
		margin: 0 -60px 32px;
	}

	&__col {
		position: relative;
		height: 100%;
		margin: 0 60px;
		padding-bottom: 34px;

		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			max-width: 106px;
			height: 3px;
			border-radius: 4px;
			background-color: $color-red;
			content: "";
		}

		.results--department & {
			&::after {
				background-color: $color-white;
			}
		}
	}

	&__value {
		margin-top: 0;
		margin-bottom: 19px;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 800;
		letter-spacing: .01em;
	}

	&__text {
		margin-top: 0;
		margin-bottom: 0;
		font-family: $font-secondary;
		font-size: 14px;
		line-height: 1;
		font-weight: 600;
		letter-spacing: .01em;
	}

	&__button {
		width: 100%;
		max-width: 243px;
	}
}
