.road {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&::after {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-image: url("../images/road-bg/road1.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top center;
	}

	@media (min-width: $breakpoint-desktop) {
		&::after {
			content: "";
		}
	}

	&--blue {
		&::after {
			background-image: url("../images/road-bg/road2.svg");
			right: -33px;
		}
	}

	&--center {
		&::after {
			background-position: center;
		}
	}

	&--contacts {
		&::after {
			background-position: center 100px;
		}
	}

	&--terminal {
		@media (max-width: $breakpoint-desktop) {
			&::after {
				right: 0;
				top: -83px;
				background-size: 500% 100%;
				background-position: center;
				content: "";
			}
		}
	}

	&--404 {
		@media (max-width: $breakpoint-desktop) {
			&::after {
				right: 0;
				top: 117px;
				background-size: 539% 100%;
				background-position: 65% center;
				content: "";;
			}
		}
	}
}
