.search-form {
	display: flex;
	align-items: center;
	background-color: $color-white;
	width: 100%;

	&__row {
		display: flex;
		align-items: center;
	}

	&__input {
		width: 100%;
		padding: 10px 4px;
		border: none;
		font-family: $font-additional;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;

		&::placeholder {
			color: rgba($color-black, .3)
		}

		&:focus {
			outline: none;
		}
	}

	&__submit {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		padding: 0;
		border: none;
		background-color: $color-transparent;
		transition: color $transition-default;

		&:hover {
			color: $color-blue;
		}

		&:focus {
			outline: none;
		}
	}

	&__submit-icon {
		width: 24px;
		height: 24px;
	}

	&__close-button {
		position: relative;
		width: 48px;
		height: 48px;
		background-color: $color-transparent;
		border: none;

		&:focus {
			outline: none;
		}

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 24px;
			height: 2px;
			background-color: $color-black;
			content: "";
			transition: background-color $transition-default;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&:hover {
			&::before,
			&::after {
				background-color: $color-red;
			}
		}
	}
}
