.section-about-timeline {
	position: relative;
	width: 100%;
	padding: 0 14px;
	background-image: url('../images/section-about/road.svg');
	background-position: -310px -208px;
	background-repeat: no-repeat;
	background-size: 1590px 600px;

	@media (min-width: 1400px) {
		padding: 0 0 0 50%;
		background: none;
		overflow-y: hidden;

		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}


	&__road {
		display: none;
		width: 4082px;
		user-select: none;
		pointer-events: none;

		@media (min-width: 1400px) {
			display: block;
		}
	}

	&__box {
		position: relative;

		@media (min-width: 1400px) {
			width: 100vw;
			transform: translateX(-50vw);
			padding-bottom: 330px;
			cursor: grab;
		}
	}

	&__marker {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		user-select: none;
		pointer-events: none;

		@media (min-width: 1400px) {
			position: absolute;
			transform: translateX(-50%);
		}

		@media (max-width: 1400px) {
			margin-bottom: 57px;
		}

		&--n1 {
			@media (min-width: 1400px) {
				height: 557px;
				top: 520px;
				left: 377px;
			}
		}

		&--n2 {
			@media (min-width: 1400px) {
				flex-direction: column-reverse;
				height: 395px;
				top: 186px;
				left: 700px;
			}
		}

		&--n3 {
			@media (min-width: 1400px) {
				height: 425px;
				top: 615px;
				left: 1080px;
			}
		}

		&--n4 {
			@media (min-width: 1400px) {
				flex-direction: column-reverse;
				height: 390px;
				top: 185px;
				left: 1295px;
			}
		}


		&--n5 {
			@media (min-width: 1400px) {
				height: 354px;
				top: 335px;
				left: 1590px;
			}
		}


		&--n6 {
			@media (min-width: 1400px) {
				flex-direction: column-reverse;
				height: 392px;
				top: 123px;
				left: 1910px;
			}
		}


		&--n7 {
			@media (min-width: 1400px) {
				height: 355px;
				top: 610px;
				left: 2090px;
			}
		}


		&--n8 {
			@media (min-width: 1400px) {
				flex-direction: column-reverse;
				height: 352px;
				top: 250px;
				left: 2310px;
			}
		}


		&--n9 {
			@media (min-width: 1400px) {
				height: 452px;
				top: 490px;
				left: 2716px;
			}
		}


		&--n10 {
			@media (min-width: 1400px) {
				flex-direction: column-reverse;
				height: 382px;
				top: 306px;
				left: 3040px;
			}
		}


		&--n11 {
			@media (min-width: 1400px) {
				height: 352px;
				top: 512px;
				left: 3330px;
			}
		}


		&--n12 {
			@media (min-width: 1400px) {
				height: 382px;
				top: 220px;
				left: 3770px;
			}
		}
	}

	&__img {
		order: -1;
		display: block;
		margin-bottom: 46px;
		width: 164px;
		height: 164px;
		border-radius: 50%;
		box-shadow: 0 4px 50px rgba(#000, .25);

		@media (min-width: 1400px) {
			order: 0;
			margin-top: 46px;
		}
	}

	&__value {
		margin: 0;
		padding: 18px 34px;
		border-radius: 25px;
		font-size: 24px;
		line-height: 24px;
		font-weight: 700;
		color: #fff;
		background-color: $color-blue;

		.section-about-timeline__marker--red & {
			background-color: $color-red;
		}
	}

	&__text {
		margin: 10px 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex-grow: 1;
		font-size: 24px;
		line-height: 24px;
		font-weight: 700;

		&--line-top {
			@media (min-width: 1400px) {
				flex-direction: column-reverse;
			}
		}

		@media (max-width: 1400px) {
			flex-direction: column-reverse;
		}

		@media (min-width: 1400px) {
			white-space: nowrap;
		}

		&::after {
			display: block;
			height: 100%;
			width: 3px;
			margin: 10px auto;
			background-color: rgba($color-blue, .1);
			content: "";
		}

		@media (max-width: 1400px) {
			&::after {
				height: 65px;
			}
		}

		.section-about-timeline__marker--red & {
			&::after {
				background-color: $color-red;
			}
		}
	}
}
