.slider {
	//overflow: visible;

	&--with-wide-slide {
		padding-top: 30px;
		padding-left: 30px;
		margin-left: -30px;
	}

	&--one-slide {
		position: relative;
		overflow: hidden;
	}

	&__slide {
		position: relative;
		display: flex;
		flex-direction: column;
		height: auto;
		border-radius: 25px;
		user-select: none;

		&--wide {
			width: 50%;
		}

		&--video {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.slider--simple & {
			padding-bottom: 0;
		}

		.slider--one-slide & {
			padding-bottom: 0;
			min-height: 260px;
		}
	}

	&__slide-bg-box {
		flex-grow: 1;
		border-radius: 25px;
		overflow: hidden;
	}

	&__slide-bg {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__slide-title {
		position: absolute;
		bottom: 21px;
		right: 50%;
		transform: translateX(50%);
		min-width: 90px;
		margin: 0;
		padding: 10px 10px;
		white-space: nowrap;
		border-radius: 25px;
		background: linear-gradient(to left, rgba(0, 73, 150, 0.85) 0%, rgba(0, 73, 150, 0) 100%);
		font-family: $font-secondary;
		font-size: 18px;
		line-height: 1;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-white;

		@media (min-width: $breakpoint-desktop) {font-size: 24px;
			padding: 17px 57px;
			bottom: 33px;
		}

		.slider__slide--wide & {
			right: 70px;
			transform: none;
		}
	}

	&__slide-text {
		position: absolute;
		top: -29px;
		left: -29px;
		width: 100%;
		max-width: 340px;
		margin: 0;
		padding: 25px 36px 38px;
		background-color: $color-blue;
		border-radius: 25px;
		font-family: $font-secondary;
		font-size: 50px;
		line-height: 50px;
		font-weight: 700;
		color: $color-white;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 7px;
		background-color: $color-transparent;
		border: none;
		color: $color-blue;

		&:disabled {
			color: $color-blue-light;
			cursor: not-allowed;

			.slider--simple & {
				color: $color-black;
			}
		}

		&--prev {
			margin-right: 10px;
		}

		&--next {
			margin-left: 10px;
		}
	}

	&__btn-arrow {
		width: 15px;
		height: 24px;

		.slider__btn--prev & {
			transform: scaleX(-1);
		}
	}

	&__nav-box {
		.slider--simple & {
			position: relative;
			z-index: 10;
			transform: translateY(-50%);
			text-align: center;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;

		.slider--simple & {
			display: inline-flex;
			margin: 0;
			padding: 11px 18px;
			border-radius: 40px;
			background-color: $color-white;
		}

		.slider--one-slide & {
			position: absolute;
			z-index: 10;
			bottom: 34px;
			left: 50%;
			transform: translateX(-50%);
			margin: 0 auto;
			padding: 10px 20px;
			background-color: $color-white;
			border-radius: 25px;

			@media (min-width: $breakpoint-desktop) {
				left: unset;
				bottom: 48px;
				right: 57px;
				margin: 0;
				transform: none;
			}
		}

		.slider--disabled & {
			display: none !important;
		}
	}

	&__pagintaion {
		display: flex;
		align-items: center;
		margin: 0 -6px;
	}

	&__bullet {
		width: 8px;
		height: 8px;
		padding: 0;
		border-radius: 50%;
		border: none;
		background-color: #429EDD;
		margin: 0 6px;
		transition: transform $transition-default, background-color $transition-default;

		&--active {
			background-color: $color-blue-medium;
			transform: scale(2);
		}

		&:hover {
			background-color: $color-blue-medium;
		}
	}

	&__play-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 107px;
		height: 107px;
		padding: 0;
		background-color: $color-white;
		border: none;
		border-radius: 50%;
		color: #d9d9d9;

		&:hover {
			color: $color-blue;
		}
	}

	&__play-icon {
		width: 46px;
		height: 46px;
		transform: translateX(6px);
		transition: color $transition-default;
	}

	&__map-icon {
		width: 16px;
		height: 24px;
		margin-right: 8px;

		@media (min-width: $breakpoint-desktop) {
			width: 33px;
			height: 47px;
			margin-right: 18px;
		}
	}
}
