.social {
	display: flex;
	margin: 0 -8px;
	padding-left: 0;
	list-style-type: none;

	&--big {
		margin: 0 -7px;
	}

	&__elem {
		padding: 0 8px;

		.social--big & {
			padding: 0 7px;
		}
	}

	&__link {
		display: inline-block;
		color: $color-blue;
		transition: color $transition-default;

		&:hover {
			color: $color-red;
		}
	}

	&__link-icon {
		width: 36px;
		height: 36px;

		.social--big & {
			width: 50px;
			height: 50px;
		}
	}
}
