.tabs {
	overflow: hidden;

	&--small {
		position: relative;
		padding-bottom: 50px;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 5px;
			background-color: #F2F6FA;
			border-radius: 4px;
			content: "";
		}
	}

	&__nav-list {
		display: inline-flex;
		margin: 0 -18px;
		padding-left: 0;
		list-style-type: none;

		@media (min-width: $breakpoint-desktop) {
			margin: 0 -24px;
		}

		.tabs--small & {
			position: relative;
			display: flex;
			margin: 0;

			@media (min-width: $breakpoint-desktop) {
				width: 100%;
			}

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background-color: #F2F6FA;
				border-radius: 5px;
				content: "";
			}
		}
	}

	&__nav-elem {
		padding: 0 18px;

		@media (min-width: $breakpoint-desktop) {
			padding: 0 24px;
		}

		.tabs--small & {
			flex-grow: 1;
			padding: 0;

			@media (min-width: $breakpoint-desktop) {
				padding: 0;
			}
		}

		.tabs__nav-list--three-col & {
			max-width: 33.333333%;
		}
	}

	&__nav-button {
		position: relative;
		padding: 0 0 20px;
		border: none;
		background-color: $color-transparent;
		font-family: $font-secondary2;
		font-size: 24px;
		line-height: 1;
		font-weight: 500;
		color: #7A797A;
		text-align: center;
		transition: font-weight $transition-default, color $transition-default;

		&::after {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%) scaleX(0);
			width: 100%;
			max-width: 70px;
			height: 4px;
			border-radius: 4px;
			background-color: $color-red;
			content: "";
			opacity: 0;
			transition: opacity $transition-default, transform $transition-default;
		}

		&:hover {
			color: $color-blue;
		}

		@media (min-width: $breakpoint-desktop) {
			font-size: 50px;
		}

		&--active {
			color: $color-blue;

			&::after {
				transform: translateX(-50%) scaleX(1);
				opacity: 1;
			}
		}

		.tabs--small & {
			position: relative;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			padding: 0 18px 18px;
			font-family: $font-primary;
			font-size: 14px;
			line-height: 1;
			font-weight: 700;
			letter-spacing: .01em;
			color: #004996;

			@media (min-width: $breakpoint-desktop) {
				padding: 20px 15px 39px;
				font-size: 24px;
			}

			&::after {
				max-width: 100%;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 1;
				transform: scaleX(0);
				background-color: $color-red;
				height: 5px;
			}

			&:hover {
				color: $color-blue;
			}

			&--active {
				&::after {
					transform: scaleX(1);
				}
			}
		}
	}

	&__content-box {
		position: relative;
	}

	&__content {
		display: none;
		width: 100%;
		opacity: 0;
		transition: opacity $transition-default;

		&--active {
			display: block;
			opacity: 1;
			transform: none;
		}

		&--show {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}

		&--hide {
			opacity: 0;
		}
	}

	&__all-btn {
		display: none;
		opacity: 0;
		width: 100%;
		margin-top: 34px;
		transition: opacity $transition-default;

		@media (min-width: $breakpoint-laptop) {
			width: auto;
			margin-top: 0;
		}

		&--active {
			display: inline-flex;
			opacity: 1;
			transform: none;
		}

		&--show {
			display: inline-flex;
			position: absolute;
			top: 0;
			left: 0;
		}

		&--hide {
			opacity: 0;
		}
	}
}
