extends pug/base

prepend vars
	//-

append vars
	-
		title = "404"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"
		footerLowTopPadding = true

block content
	+breadcrumb(['Главная'], '404 ошибка')(class="container")
	// Section 404
	section.section-404.road
		.container
			img.section-404__img(src="images/section-404/img-404.svg", alt)
			h1.section-404__title 404
			p.section-404__text Что-то пошло не так! Нужная страница не найдена
				br
				|Вы можете перейти на
				|
				a.section-404__link(href="/") главную страницу
