extends pug/base

prepend vars
	//-

append vars
	-
		title = "О нас"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	+breadcrumb(['Главная'], 'О нас')(class="container")
	// Section Hero simple
	section.section-hero-simple
		.container
			.section-hero-simple__content
				p.section-hero-simple__slogan.text-white
					|Движение вперед,
					|
					|
					br.hide-desktop
					|внимание к деталям
				img.section-hero-simple__img(src="images/section-hero/squares.svg", alt)
				img.section-hero-simple__bg(src="images/section-hero/bg8.jpg", alt)
	section.section-about.tabs.tabs--small
			.section-about__nav-box.container
				h2.h2.text-blue.section-about__title О нас
				// Tabs
				.ul.tabs__nav-list.section-about__tab-navs
					li.tabs__nav-elem
						button.tabs__nav-button.tabs__nav-button--active(data-content="content1") Общая информация
					li.tabs__nav-elem
						button.tabs__nav-button(data-content="content2") Управление
					li.tabs__nav-elem
						button.tabs__nav-button(data-content="content3") История развития
					li.tabs__nav-elem
						button.tabs__nav-button(data-content="content4") Документы
			.tabs__content-box
				// Content
				.tabs__content.tabs__content--active#content1
					// Section Success
					.section-success.section-success--about.container
						p.section-success__text-block Major - российская транспортно-логистическая группа компаний, основанная в 2001 году. Мы оказываем широкий спектр услуг в области грузовых перевозок, таможенного оформления, складского хранения и обработки грузов. Обеспечивая стратегическое управление цепочками поставок, мы повышаем конкурентоспособность наших клиентов, делая их логистику максимально эффективной.
						.section-success__grid
							.section-success__elem
								p.section-success__value 2007
								p.section-success__text Год основная компании
							.section-success__elem
								p.section-success__value 40 тыс.
								p.section-success__text Обработка заказов в сутки
							.section-success__elem
								p.section-success__value 1,2 млн
								p.section-success__text Отгруженных заказов в месяц
							.section-success__elem
								p.section-success__value 176 000 м2
								p.section-success__text Площадь складов в управлении
					// Section Partner
					section.section-partner.section-partner--bg-image.container
						.section-partner__box
							.section-partner__nav-row
								ul.section-partner__link-list
									li.section-partner__link-elem
										a.section-partner__link(href="#") 4PL оператор
									li.section-partner__link-elem
										a.section-partner__link(href="#") Логопарк
									li.section-partner__link-elem
										a.section-partner__link.section-partner__link--active(href="#") О Major Terminal
									li.section-partner__link-elem
										a.section-partner__link(href="#") Ценности
								.dropdown.dropdown--navigate.section-partner__dropdown
									.dropdown__value-box
										input.dropdown__value(type="text", value="4PL оператор", disabled)
										+svg("chevron-dropdown", true)(class="dropdown__arrow")
									ul.dropdown__options-list
										li.dropdown__option.dropdown__option--selected(data-value="4PL оператор") 4PL оператор
										li.dropdown__option(data-value="#") Логопарк
										li.dropdown__option(data-value="#") О Major Terminal
										li.dropdown__option(data-value="#") Ценности
							.section-partner__content
								h2.h2.text-white.section-partner__title Ma
									span.text-red j
									| or Terminal – надежный поставщик всего комплекса складских услуг
								p.section-partner__text.text-white Major Terminal является частью 4PL-оператора Major Logistics, и имеет колоссальный опыт и экспертизу в широком спектре складских услуг
								a.button.button--outline-white.button--md.section-partner__button(href="#") Подробнее о нас
					.container
						p.section-about__text-block Major - российская транспортно-логистическая группа компаний, основанная в 2001 году. Мы оказываем широкий спектр услуг в области грузовых перевозок, таможенного оформления, складского хранения и обработки грузов. Обеспечивая стратегическое управление цепочками поставок, мы повышаем конкурентоспособность наших клиентов, делая их логистику максимально эффективной.
					// Section Ready
					section.section-ready.section-ready--about
						.container
							.section-ready__title-box
								h2.h1.section-ready__title Экспертиза в 6 индустриях
							.simple-card-row
								// Card
								a.simple-card.section-ready__card(href="#")
									h3.simple-card__title Fashion
									img.simple-card__bg(src="images/simple-card/img1.jpg", alt)
								// Card
								a.simple-card.section-ready__card(href="#")
									h3.simple-card__title Healthcare
									img.simple-card__bg(src="images/simple-card/img2.jpg", alt)
								// Card
								a.simple-card.section-ready__card(href="#")
									h3.simple-card__title Automotive
									img.simple-card__bg(src="images/simple-card/img3.jpg", alt)
								.simple-card-row__links
									a.simple-card-row__link(href="#") Telecom
									a.simple-card-row__link(href="#") POSM
									a.simple-card-row__link(href="#") FMCG
					// Section Slider terminal
					section.section-slider-terminal.road.road--blue.road--terminal
						.container
							.section-slider-terminal__text-box.section-slider-terminal__text-box--mobile
								h2.h2.section-slider-terminal__title
									| Складские терминалы
									br
									span.text-blue Ma
										span.text-red j
										| or
									| Terminal
								p.section-slider-terminal__text Собственные складские площади класса А
							.section-slider-terminal__row
								.section-slider-terminal__col
									.section-slider-terminal__text-box.section-slider-terminal__text-box--desktop
										h2.h2.section-slider-terminal__title
											|Складские терминалы
											br
											span.text-blue Ma
												span.text-red j
												|or
											|
											|
											|Terminal
										p.section-slider-terminal__text Собственные складские площади класса А
									.slider__nav.section-slider-terminal__nav
										button.slider__btn.slider__btn--prev(aria-label="Назад")
											+svg("chevron-slider")(class="slider__btn-arrow")
										.slider__pagination
										button.slider__btn.slider__btn--next(aria-label="Вперед")
											+svg("chevron-slider")(class="slider__btn-arrow")
								.swiper.slider.slider--index.section-slider-terminal__slider
									.swiper-wrapper
										// Slide
										.swiper-slide.slider__slide
											.slider__slide-bg-box
												img.slider__slide-bg(src="images/services/slide-bg3.jpg", alt)
											p.slider__slide-title
												+svg("map-marker")(class="slider__map-icon")
												|Логопарк Major
										// Slide
										.swiper-slide.slider__slide
											.slider__slide-bg-box
												img.slider__slide-bg(src="images/services/slide-bg4.jpg", alt)
											p.slider__slide-title
												+svg("map-marker")(class="slider__map-icon")
												|М9
										// Slide
										.swiper-slide.slider__slide.slider__slide--bg-blue
											.slider__slide-bg-box
												img.slider__slide-bg(src="images/services/slide-bg5.jpg", alt)
											p.slider__slide-title
												+svg("map-marker")(class="slider__map-icon")
												|Истра
										// Slide
										.swiper-slide.slider__slide.slider__slide--bg-light-blue
											.slider__slide-bg-box
												img.slider__slide-bg(src="images/services/slide-bg6.jpg", alt)
											p.slider__slide-title
												+svg("map-marker")(class="slider__map-icon")
												|Истра
										// Slide
										.swiper-slide.slider__slide.slider__slide--bg-light-blue
											.slider__slide-bg-box
												img.slider__slide-bg(src="images/services/slide-bg6.jpg", alt)
											p.slider__slide-title
												+svg("map-marker")(class="slider__map-icon")
												|Истра
										// Slide
										.swiper-slide.slider__slide.slider__slide--bg-light-blue
											.slider__slide-bg-box
												img.slider__slide-bg(src="images/services/slide-bg2.jpg", alt)
											p.slider__slide-title
												+svg("map-marker")(class="slider__map-icon")
												|Истра

				// Content
				.section-about__tab-content.tabs__content#content4
					.container
						ul.section-about__download
							// Block
							li.section-about__download-block
								a.section-about__download-link(href="#" download)
									p.section-about__download-title
										+svg("file-pdf", true)(class="section-about__download-pdf-icon")
										| ISO 13485:2017
									+svg("file-download", true)(class="section-about__download-download-icon")
							// Block
							li.section-about__download-block
								a.section-about__download-link(href="#" download)
									p.section-about__download-title
										+svg("file-pdf", true)(class="section-about__download-pdf-icon")
										| ISO 13485:2017
									+svg("file-download", true)(class="section-about__download-download-icon")
							// Block
							li.section-about__download-block
								a.section-about__download-link(href="#" download)
									p.section-about__download-title
										+svg("file-pdf", true)(class="section-about__download-pdf-icon")
										| ISO 13485:2017
									+svg("file-download", true)(class="section-about__download-download-icon")
							// Block
							li.section-about__download-block
								a.section-about__download-link(href="#" download)
									p.section-about__download-title
										+svg("file-pdf", true)(class="section-about__download-pdf-icon")
										| ISO 13485:2017
									+svg("file-download", true)(class="section-about__download-download-icon")
						.section-about__download-btn-box
							button.button.button--outline-blue.button--md.section-about__download-btn Показать еще
				// Content
				.section-about__tab-content.section-about__tab-content--no-top-padding.tabs__content#content3
					.section-about__timeline.section-about-timeline
						.section-about-timeline__box.container.show-more
							.section-about-timeline__marker.section-about-timeline__marker--red.section-about-timeline__marker--n1
								img.section-about-timeline__img(src="images/section-about/photo.jpg", alt)
								p.section-about-timeline__value 2004
								p.section-about-timeline__text Образование компании
									br
									|Major Terminal
							.section-about-timeline__marker.section-about-timeline__marker--n2
								p.section-about-timeline__value 2007
								p.section-about-timeline__text Открытие склада “М9”
									br
									|(МО д.Михалково)
							.section-about-timeline__marker.section-about-timeline__marker--n3
								p.section-about-timeline__value 2008
								p.section-about-timeline__text Открытие склада “Истра”
									br
									|(г.Истра) и запуск сети региональных
									br
									|складов
							.section-about-timeline__marker.section-about-timeline__marker--n4.show-more__mobile-hide-flex
								p.section-about-timeline__value 2011
								p.section-about-timeline__text Открытие склада
									br
									|“Парнас” (СПБ)
							button.button.button--outline-blue.button--md.show-more__button Показать еще
				// Content
				.section-about__tab-content.tabs__content#content2
					// Section Success
					.section-success.section-success--personal.container
						.section-success__grid
							.section-success__elem
								p.section-success__value Пономарев Алексей
								p.section-success__text Генеральный менеджер
							.section-success__elem
								p.section-success__value Зубарев Дмитрий
								p.section-success__text Генеральный  директор
							.section-success__elem
								p.section-success__value Степина Елена
								p.section-success__text Финансовый директор
							.section-success__elem
								p.section-success__value Карманов Александр
								p.section-success__text Коммерческий директор
							.section-success__elem
								p.section-success__value Павлюк Юрий
								p.section-success__text Руководитель отдела продаж
							.section-success__elem
								p.section-success__value Ерохин Кирилл
								p.section-success__text Директор по персоналу
							.section-success__elem
								p.section-success__value Стрельников Андрей
								p.section-success__text Генеральный директор ОКТИЗ
							.section-success__elem
								p.section-success__value Скрипкина Наталья
								p.section-success__text Руководитель отдела по работе с клиентами
							.section-success__elem
								p.section-success__value Хуторной Алексей
								p.section-success__text Заместитель руководителя отдела по работе с ключевыми клиентами
							.section-success__elem
								p.section-success__value Мальцев Кирилл
								p.section-success__text Руководитель отдела производственного инжиниринга
							.section-success__elem
								p.section-success__value Юхновская Юлия
								p.section-success__text Руководитель службы качества
							.section-success__elem
								p.section-success__value Фить Юрий
								p.section-success__text Заместитель генерального директора по вопросам охраны труда и техники безопасности
							.section-success__elem
								p.section-success__value Бутырев Богдан
								p.section-success__text Руководитель отдела по работе с ключевыми клиентами
							.section-success__elem
								p.section-success__value Лесников Виктор
								p.section-success__text Руководитель направления электронная коммерция
							.section-success__elem
								p.section-success__value Королева Елена
								p.section-success__text Руководитель направления Медицина
