extends pug/base

prepend vars
	//-

append vars
	-
		title = "Карточка вакансии"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"
		isCareer = true

block content
	+breadcrumb(['Главная'], 'Вакансии')(class="container")

	// Section Vacancy item
	section.section-vacancy-item
		.container
			h2.h2.text-blue.section-vacancy-item__title Специалист по качеству, г.Москва
			.section-vacancy-item__description
				p.section-vacancy-item__salary.text-blue З/П по договоренности
				button.button.button--blue.button--career-item.section-vacancy-item__button Оставить заявку
				p.section-vacancy-item__date Размещено: 3 дня назад
			// Panel
			.section-vacancy-item__panel
				h3.section-vacancy-item__panel-title Перспективы и возможности
				.section-vacancy-item__panel-row
					ul.list-arrow.list-arrow--blue.section-vacancy-item__panel-list
						li.list-arrow__elem Возможность профессионального роста
						li.list-arrow__elem Работа в команде профессионалов
						li.list-arrow__elem Обучение с наставником в первые месяцы
			// Panel
			.section-vacancy-item__panel
				h3.section-vacancy-item__panel-title Ключевые задачи
				.section-vacancy-item__panel-row
					ul.list-arrow.list-arrow--blue.section-vacancy-item__panel-list
						li.list-arrow__elem Контроль соблюдения требований
						li.list-arrow__elem Подготовка организации и участие во внутренних и внешних аудитах
						li.list-arrow__elem Коммуникации с клиентами
					ul.list-arrow.list-arrow--blue.section-vacancy-item__panel-list
						li.list-arrow__elem Мониторинг KPI
						li.list-arrow__elem Регулярное проведение опросов клиентов
						li.list-arrow__elem Проведение самоинспекций и аудитов на складе
			// Panel
			.section-vacancy-item__panel
				h3.section-vacancy-item__panel-title Мы ищем сотрудников, которые:
				.section-vacancy-item__panel-row
					ul.list-arrow.list-arrow--blue.section-vacancy-item__panel-list
						li.list-arrow__elem Хотят развиваться
						li.list-arrow__elem Знают требования стандартов ISO 9001
						li.list-arrow__elem Ответственные и коммуникабельные
						li.list-arrow__elem Отлично знают ПК
						li.list-arrow__elem Умеют работать с документацией
