extends pug/base

prepend vars
	//-

append vars
	-
		title = "Карьера"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"
		isCareer = true

block content
	+breadcrumb(['Главная'], 'Карьера')(class="container")

	// Section Hero
	section.section-hero.section-hero--career
		.container
			.section-hero__content
				.section-hero__title-box
					h1.section-hero__title Карьера в Major
					img.section-hero__title-img(src="images/section-career/squares.svg", alt)
				p.section-hero__text Узнайте о доступных вакансиях в компании Major Terminal
				.section-hero__job-search-row
					.job-search.section-hero__job-search
						form.job-search__row
							.dropdown.dropdown--big-text
								.dropdown__value-box
									input.dropdown__value(type="text", value="Москва", disabled)
									+svg("chevron-dropdown", true)(class="dropdown__arrow")
								ul.dropdown__options-list
									li.dropdown__option.dropdown__option--selected(data-value="Москва") Москва
									li.dropdown__option(data-value="Санкт-Петербург") Санкт-Петербург
									li.dropdown__option(data-value="Нижний Новгород") Нижний Новгород
							.dropdown.dropdown--big-text
								.dropdown__value-box
									input.dropdown__value(type="text", value="Менеджмент", disabled)
									+svg("chevron-dropdown", true)(class="dropdown__arrow")
								ul.dropdown__options-list
									li.dropdown__option.dropdown__option--selected(data-value="Менеджмент") Менеджмент
									li.dropdown__option(data-value="IT") IT
									li.dropdown__option(data-value="HR отдел") HR отдел
									li.dropdown__option(data-value="Склад") Склад
									li.dropdown__option(data-value="Служба качества") Служба качества
							button.button.button--outline-white.button--career-search(type="submit") Найти
					p.section-hero__call-text Или позвоните нам:
						|
						|
						a.section-hero__call-link(href="tel:+7 (495) 111-22-33") +7 (495) 111-22-33
				img.section-hero__bg(src="images/section-career/hero.jpg", alt)

	// Section Vacancy
	section.section-vacancy.container
		p.section-vacancy__subtitle Найдено вакансий: 225
		.section-vacancy__grid
			// Vacancy
			a.section-vacancy__item(href="#")
				.section-vacancy__item-row
					p.section-vacancy__item-city
						+svg("map-marker-small", true)(class="section-vacancy__item-city-marker")
						|г.Москва
					p.section-vacancy__item-salary 45 000 ₽
				.section-vacancy__item-row
					p.section-vacancy__item-title Менеджер по рекламациям
					span.section-vacancy__item-button Подробнее
			// Vacancy
			a.section-vacancy__item(href="#")
				.section-vacancy__item-row
					p.section-vacancy__item-city
						+svg("map-marker-small", true)(class="section-vacancy__item-city-marker")
						| г.Москва
					p.section-vacancy__item-salary 45 000 ₽
				.section-vacancy__item-row
					p.section-vacancy__item-title Менеджер по рекламациям
					span.section-vacancy__item-button Подробнее
			// Vacancy
			a.section-vacancy__item(href="#")
				.section-vacancy__item-row
					p.section-vacancy__item-city
						+svg("map-marker-small", true)(class="section-vacancy__item-city-marker")
						| г.Москва
					p.section-vacancy__item-salary 45 000 ₽
				.section-vacancy__item-row
					p.section-vacancy__item-title Менеджер по рекламациям
					span.section-vacancy__item-button Подробнее
			// Vacancy
			a.section-vacancy__item(href="#")
				.section-vacancy__item-row
					p.section-vacancy__item-city
						+svg("map-marker-small", true)(class="section-vacancy__item-city-marker")
						| г.Москва
					p.section-vacancy__item-salary.section-vacancy__item-salary--big По договоренности
				.section-vacancy__item-row
					p.section-vacancy__item-title Менеджер по рекламациям
					span.section-vacancy__item-button Подробнее
			// Vacancy
			a.section-vacancy__item(href="#")
				.section-vacancy__item-row
					p.section-vacancy__item-city
						+svg("map-marker-small", true)(class="section-vacancy__item-city-marker")
						| г.Москва
					p.section-vacancy__item-salary 45 000 ₽
				.section-vacancy__item-row
					p.section-vacancy__item-title Менеджер по рекламациям
					span.section-vacancy__item-button Подробнее
			// Vacancy
			a.section-vacancy__item(href="#")
				.section-vacancy__item-row
					p.section-vacancy__item-city
						+svg("map-marker-small", true)(class="section-vacancy__item-city-marker")
						| г.Москва
					p.section-vacancy__item-salary 45 000 ₽
				.section-vacancy__item-row
					p.section-vacancy__item-title Менеджер по рекламациям
					span.section-vacancy__item-button Подробнее
			// Vacancy
			a.section-vacancy__item(href="#")
				.section-vacancy__item-row
					p.section-vacancy__item-city
						+svg("map-marker-small", true)(class="section-vacancy__item-city-marker")
						| г.Москва
						p.section-vacancy__item-salary 45 000 ₽
				.section-vacancy__item-row
					p.section-vacancy__item-title Менеджер по рекламациям
					span.section-vacancy__item-button Подробнее
			// Vacancy
			a.section-vacancy__item(href="#")
				.section-vacancy__item-row
					p.section-vacancy__item-city
						+svg("map-marker-small", true)(class="section-vacancy__item-city-marker")
						| г.Москва
						p.section-vacancy__item-salary 45 000 ₽
				.section-vacancy__item-row
					p.section-vacancy__item-title Менеджер по рекламациям
					span.section-vacancy__item-button Подробнее
			// Vacancy
			a.section-vacancy__item(href="#")
				.section-vacancy__item-row
					p.section-vacancy__item-city
						+svg("map-marker-small", true)(class="section-vacancy__item-city-marker")
						| г.Москва
					p.section-vacancy__item-salary 45 000 ₽
				.section-vacancy__item-row
					p.section-vacancy__item-title Менеджер по рекламациям
					span.section-vacancy__item-button Подробнее
