extends pug/base

prepend vars
	//-

append vars
	-
		title = "Наши кейсы"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	+breadcrumb(['Главная'], 'Наши кейсы')(class="container")
	// Section Case list
	section.section-case-list.container
		.section-case-list__title-box
			h2.h2.text-blue.section-case-list__title Наши кейсы
			p.section-case-list__description.section-case-list__description--mobile Всего найдено: 145
			.section-case-list__dropdown-row
				.dropdown.dropdown--gray-border.dropdown--multi-select.section-case-list__dropdown
					input.dropdown__multi-input(type="text")
					.dropdown__value-box
						.dropdown__value Индустрии
							span.dropdown__value-counter 0
						+svg("chevron-dropdown", true)(class="dropdown__arrow")
					ul.dropdown__options-list
						li.dropdown__option
							label.dropdown__checkbox
								input.dropdown__checkbox-input(type="checkbox", value="Индустрия 1")
								span.dropdown__checkbox-text Индустрия 1
						li.dropdown__option
							label.dropdown__checkbox
								input.dropdown__checkbox-input(type="checkbox", value="Индустрия 2")
								span.dropdown__checkbox-text Индустрия 2
						li.dropdown__option
							label.dropdown__checkbox
								input.dropdown__checkbox-input(type="checkbox", value="Индустрия 3")
								span.dropdown__checkbox-text Индустрия 3
				.dropdown.dropdown--gray-border.section-case-list__dropdown
					.dropdown__value-box
						input.dropdown__value(type="text", value="Все услуги", disabled)
						+svg("chevron-dropdown", true)(class="dropdown__arrow")
					ul.dropdown__options-list
						li.dropdown__option.dropdown__option--selected(data-value="Все услуги") Все услуги
						li.dropdown__option(data-value="Услуга 1") Услуга 1
						li.dropdown__option(data-value="Услуга 2") Услуга 2
						li.dropdown__option(data-value="Услуга 3") Услуга 3
		p.section-case-list__description.section-case-list__description--desktop Всего найдено: 145
		.section-case-list__grid.show-more
			// Card
			a.section-case-list__card.card.card--cases.card--with-tag-line(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Складское хранение
					li.card__tag Вешальное хранение
					li.card__tag Еще (7)
				.card__text-box
					p.card__text Здесь будет чуть больше информации по описанию для данного кейса
				.card__title-box
					p.card__title Кейс FMCG (табак)
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-cases/bg1.jpg", alt)
			// Card
			a.section-case-list__card.card.card--cases.card--with-tag-line(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Fashion
				.card__text-box
					p.card__text Здесь будет чуть больше информации по описанию для данного кейса
				.card__title-box
					p.card__title Кейс FMCG (Healthcare)
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-cases/bg2.jpg", alt)
			// Card
			a.section-case-list__card.card.card--cases.card--with-tag-line(href="#")
				ul.card__tag-list
					li.card__tag FMCG
					li.card__tag Складское хранение
				.card__text-box
					p.card__text Здесь будет чуть больше информации по описанию для данного кейса
				.card__title-box
					p.card__title Кейс FMCG (алкоголь)
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-cases/bg3.jpg", alt)
			// Card
			a.section-case-list__card.card.card--cases.card--with-tag-line.show-more__mobile-hide(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Fashion
				.card__text-box
					p.card__text Здесь будет чуть больше информации по описанию для данного кейса
				.card__title-box
					p.card__title Кейс Fashion
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-cases/bg4.jpg", alt)
			// Card
			a.section-case-list__card.card.card--cases.card--with-tag-line.show-more__mobile-hide(href="#")
				ul.card__tag-list
					li.card__tag Automotive
					li.card__tag Складское хранение
				.card__text-box
					p.card__text Здесь будет чуть больше информации по описанию для данного кейса
				.card__title-box
					p.card__title Кейс Automotive
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-cases/bg5.jpg", alt)
			// Card
			a.section-case-list__card.card.card--cases.card--with-tag-line.show-more__mobile-hide(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Fashion
				.card__text-box
					p.card__text Здесь будет чуть больше информации по описанию для данного кейса
				.card__title-box
					p.card__title Кейс PoSM
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-cases/bg6.jpg", alt)
		.section-case-list__button-row
			button.button.button--outline-blue-light.button--md.section-case-list__button.show-more__button Показать еще
