extends pug/base

prepend vars
	//-

append vars
	-
		title = "Карточка кейса"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	+breadcrumb(['Главная'], 'Кейсы')(class="container")
	// Section Hero
	section.section-hero.section-hero--case
		.container
			.section-hero__content
				h1.section-hero__title Интеграция с транспортными компаниями
				p.section-hero__text Реализация функционала интеграции с транспортными компаниями (Healthcare|POSM)
				img.section-hero__bg(src="images/section-hero/bg5.jpg", alt)

	// Section Case item
	.section-case-item.container
		// Panel
		.section-case-item__panel
			h3.section-case-item__panel-title Задача
			ul.list-arrow.list-arrow--blue-arrow.section-case-item__panel-list
				li.list-arrow__elem Реализовать интеграцию с транспортными компаниями
				li.list-arrow__elem Упростить документооборот
		// Panel
		.section-case-item__panel
			h3.section-case-item__panel-title Сложности
			ul.list-arrow.list-arrow--blue-arrow.section-case-item__panel-list
				li.list-arrow__elem Большое количество договор с разными транспортными компаниями
				li.list-arrow__elem Административные расходы на обработку процесса со стороны клиента
				li.list-arrow__elem Невозможность формирования накладных и прочих документов
		// Panel
		.section-case-item__panel
			h3.section-case-item__panel-title Решение
			p.section-case-item__text
				strong Наша компания реализовала для клиента интеграцию со следующими компаниями:
			ul.section-case-item__list
				li Мэйджор Экспресс
				li Курьер Сервис Экспресс
				li СДЕК (возможность реализации выдачи груза через ПВЗ)
				li DPD (возможность реализации выдачи груза через ПВЗ)
				li Pony Express
			p.section-case-item__text
				strong Реализовав интеграцию с транспортными компаниями, наши клиенты получают следующие плюсы:
			ul.section-case-item__list
				li экономия времени своих сотрудников на формирование накладных и передачи документов – по окончанию комплектации заказа, автоматически, заказу присваивается уникальный номер перевозчика (накладная). Номер накладной печатается на отгрузочном стикере. Передача груза в ТК происходит путем считывания ШК накладной с отгрузочного стикера. Никакие доп. документы перевозчика на груз наносить не требуется
				li экономия времени своих сотрудников на формирование заказов в системе перевозчика для вывоза собранных грузов – по интеграции передается информация по требуемой дате вывоза груза. К указанной дате ТК подает машину нужного объема и забирает подготовленные к отгрузке заказы.
				li Просмотр статусов накладных по всем транспортным компаниям через одно окно. В системе MAP реализованы отчеты для просмотра информации по дате отгрузке со склада, плановой дате/ фактической дате поступления накладной получателю. Для ПВЗ доступна информация о фактической дате поступления груза в пункт выдачи
				li Информирование конечного получателя об изменении статуса накладной путем отправки уведомлений на электронную почту.

	// Section Case list
	section.section-case-list.section-case-list--other.container
		.section-case-list__title-box
			h2.h2.text-blue.section-case-list__title Другие кейсы
		.section-case-list__grid
			// Card
			a.section-case-list__card.card.card--cases.card--with-tag-line(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Складское хранение
					li.card__tag Вешальное хранение
					li.card__tag Еще (7)
				.card__text-box
					p.card__text Здесь будет чуть больше информации по описанию для данного кейса
				.card__title-box
					p.card__title Кейс FMCG (табак)
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-cases/bg1.jpg", alt)
			// Card
			a.section-case-list__card.card.card--cases.card--with-tag-line(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Fashion
				.card__text-box
					p.card__text Здесь будет чуть больше информации по описанию для данного кейса
				.card__title-box
					p.card__title Кейс FMCG (Healthcare)
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-cases/bg2.jpg", alt)
