extends pug/base

prepend vars
	//-

append vars
	-
		title = "Отдел службы качества"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	+breadcrumb(['Главная'], 'Отдел службы качества')(class="container")
	// Section Hero
	section.section-hero-simple.section-hero-simple--department
		.container
			.section-hero-simple__content
				p.section-hero-simple__slogan.text-white Движение вперед,
					|
					|
					br.hide-desktop
					|внимание к деталям
				img.section-hero-simple__img(src="images/section-hero/squares.svg", alt)
				img.section-hero-simple__bg(src="images/section-hero/bg8.jpg", alt)
	// Section Success
	.section-success.section-success--department4.container
		h1.h1.text-blue-medium.section-success__title Служба качества
		p.section-success__subtitle Благодаря предварительной подготовке к моменту прибытия груза в порт Санкт-Петербурга был согласован и предоставлен необходимый транспорт для дальнейшей транспортировки груза, получены необходимые разрешительные документы. Срок исполнения: 2 месяц с момента первого обращения, перевозка по готовности груза – 10 дней
		.section-success__grid
			.section-success__elem
				p.section-success__value 98,75%
				p.section-success__text Своевременность приемки
			.section-success__elem
				p.section-success__value 99,25%
				p.section-success__text Точность подготовки заказа
			.section-success__elem
				p.section-success__value NPS - 93%
				p.section-success__text Чистый индекс поддержки клиентов
			.section-success__elem
				p.section-success__value 96%
				p.section-success__text Удовлетворенность
	.section-success.section-success--department2.container
		.section-success__grid
			.section-success__elem
				p.section-success__value ISO 13485:2017
				p.section-success__text Соответсуствуем требованиям
					br
					|производителей медицинских изделий
			.section-success__elem
				p.section-success__value ISO 9001:2015
				p.section-success__text Certificate No.: RU004490 Bureau Veritas,
					br
					|UKAS management system
			.section-success__elem
				p.section-success__value.section-success__value--small-mobile Проведение внутренних аудитов
				p.section-success__text Благодаря предварительной подготовке к моменту прибытия груза в порт Санкт-Петербурга был согласован и предоставлен необходимый транспорт для дальнейшей транспортировки груза, получены необходимые разрешительные документы.
			.section-success__elem
				p.section-success__value.section-success__value--small-mobile Сбр обратной связи
				p.section-success__text Благодаря предварительной подготовке к моменту прибытия груза в порт Санкт-Петербурга был согласован и предоставлен необходимый транспорт для дальнейшей транспортировки груза, получены необходимые разрешительные документы.
