extends pug/base

prepend vars
	//-

append vars
	-
		title = "Отдел службы качества"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	// Section Hero
	section.section-hero.section-hero--with-cards.section-hero--department
		.container
			+breadcrumb(['Главная'], 'Устойчивое развитие')(class="section-hero__breadcrumb breadcrumb--white")
			h1.section-hero__title Отдел службы качества
			p.section-hero__text Многоуровневая система контроля и анализа деятельности
			img.section-hero__bg(src="images/section-hero/bg1.jpg", alt)
			// Results
			.results.results--department
				.results__row
					// Col
					.results__col
						p.results__value 98,75%
						p.results__text Своевременность приемки
					// Col
					.results__col
						p.results__value 99,25%
						p.results__text Точность подготовки заказа
					// Col
					.results__col
						p.results__value NPS - 93%
						p.results__text Чистый индекс поддержки
							br
							| клиентов
					// Col
					.results__col
						p.results__value 96%
						p.results__text Удовлетворенность
							br
							| клиентов
			// Cards
			.section-hero__card-row
				article.section-hero__card
					h2.section-hero__card-title ISO 13485:2017
					p.section-hero__card-text Соответсуствуем требованиям
						br
						| производителей медицинских изделий
				article.section-hero__card
					h2.section-hero__card-title ISO 9001:2015
					p.section-hero__card-text Certificate No.: RU004490 Bureau Veritas,
						br
						| UKAS management system


	// Section Actions
	.section-actions.container
		section.section-actions__col
			h2.section-actions__title Самоинспекция складских площадок
			ul.section-actions__list
				li.section-actions__list-elem Документирование
				li.section-actions__list-elem Зонирование
				li.section-actions__list-elem Санитарное состояние
			ul.section-actions__list
				li.section-actions__list-elem Обращение с товаром
				li.section-actions__list-elem Инфраструктура
				li.section-actions__list-elem Оборудование
		section.section-actions__col
			h2.section-actions__title Проведение внутренних аудитов
			ul.section-actions__list
				li.section-actions__list-elem Документирование
				li.section-actions__list-elem Зонирование
				li.section-actions__list-elem Санитарное состояние
			ul.section-actions__list
				li.section-actions__list-elem Обращение с товаром
				li.section-actions__list-elem Инфраструктура
				li.section-actions__list-elem Оборудование
		section.section-actions__col
			h2.section-actions__title Corrective and preventive action
			p.section-actions__text Температурный режим хранения, выполнение согласованного регламента по обращению с товарами, требующими особых условий хранения и обработки
		section.section-actions__col
			h2.section-actions__title Обратная связь
			p.section-actions__text Регулярные опросы действующих клиентов о качестве сервиса

	// Section Contacts
	section.section-contacts.section-contacts--blue
		.container
			h2.text-white.section-contacts__title Есть вопросы? Свяжитесь с нами!
			form.section-contacts__form
				.section-contacts__form-row
					.section-contacts__form-col.section-contacts__form-col--inputs
						input.form-control.form-control--round.section-contacts__form-input(type="text", placeholder="Имя")
						input.form-control.form-control--round.section-contacts__form-input(type="tel", placeholder="*Телефон")
						input.form-control.form-control--round.section-contacts__form-input(type="email", placeholder="*Адрес электронной почты")
					.section-contacts__form-col.section-contacts__form-col--message
						textarea.form-control.form-control--round.form-control--textarea.section-contacts__form-textarea(placeholder="*Комментарий...")
				.section-contacts__form-submit-box
					button.button.button--outline-white.button--lg.section-contacts__form-submit Отправить


