extends pug/base

prepend vars
	//-

append vars
	-
		title = "Главная"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	// Section Ready
	section.section-ready.road.road--center
		.container
			.section-ready__title-box
				h1.h1.section-ready__title Готовые
					|
					|
					strong.text-blue.strong.text-blue складские решения
				a.button-arrow.section-ready__arrow-button.section-ready__arrow-button--desktop(href="#") Все индустрии
			.simple-card-row
				// Card
				a.simple-card.section-ready__card.simple-card-row__card(href="#")
					h3.simple-card__title Fashion
					img.simple-card__bg(src="images/simple-card/img1.jpg", alt)
				// Card
				a.simple-card.section-ready__card.simple-card-row__card(href="#")
					h3.simple-card__title Healthcare
					img.simple-card__bg(src="images/simple-card/img2.jpg", alt)
				// Card
				a.simple-card.section-ready__card.simple-card-row__card(href="#")
					h3.simple-card__title Automotive
					img.simple-card__bg(src="images/simple-card/img3.jpg", alt)
				.simple-card-row__links
					a.simple-card-row__link(href="#") Telecom
					a.simple-card-row__link(href="#") POSM
					a.simple-card-row__link(href="#") FMCG
			a.button-arrow.section-ready__arrow-button.section-ready__arrow-button--mobile(href="#") Все индустрии
	// Section Services
	section.section-services
		.container
			.section-services__title-box
				h2.h2.section-services__title Продукты и услуги
					|
					|
					span.text-blue Ma
						span.text-red j
						| or
					| Terminal
				a.button-arrow.section-services__title-btn.section-services__title-btn--desktop(href="#") Все услуги
			.free-slider.swiper.overflow-visible
				.section-services__row.free-slider__wrapper.swiper-wrapper
					// Link
					a.section-services__link.swiper-slide(href="#")
						.section-services__icon-box
							img.section-services__icon(src="images/section-services/icon1.svg", alt)
						h3.section-services__link-title
							|Ответственное
							br
							|Хранение
					// Link
					a.section-services__link.swiper-slide(href="#")
						.section-services__icon-box
							img.section-services__icon(src="images/section-services/icon2.svg", alt)
						h3.section-services__link-title
							|Складская
							br
							|обработка
					// Link
					a.section-services__link.swiper-slide(href="#")
						.section-services__icon-box
							img.section-services__icon(src="images/section-services/icon3.svg", alt)
						h3.section-services__link-title Копакинг
					// Link
					a.section-services__link.swiper-slide(href="#")
						.section-services__icon-box
							img.section-services__icon(src="images/section-services/icon4.svg", alt)
						h3.section-services__link-title
							| Производственная
							br
							| логистика
					// Link
					a.section-services__link.swiper-slide(href="#")
						.section-services__icon-box
							img.section-services__icon(src="images/section-services/icon5.svg", alt)
						h3.section-services__link-title Фулфилмент
					// Link
					a.section-services__link.swiper-slide(href="#")
						.section-services__icon-box
							img.section-services__icon(src="images/section-services/icon6.svg", alt)
						h3.section-services__link-title
							| Маркировка
							br
							| честный знак
					// Link
					a.section-services__link.swiper-slide(href="#")
						.section-services__icon-box
							img.section-services__icon(src="images/section-services/icon7.svg", alt)
						h3.section-services__link-title
							| Работа
							br
							| с комплектами
					// Link
					a.section-services__link.swiper-slide(href="#")
						.section-services__icon-box
							img.section-services__icon(src="images/section-services/icon8.svg", alt)
						h3.section-services__link-title Кросс-докинг
			a.button-arrow.section-services__title-btn.section-services__title-btn--mobile(href="#") Все услуги
	// Section Slider terminal
	section.section-slider-terminal.road.road--blue.road--terminal
		.container
			.section-slider-terminal__text-box.section-slider-terminal__text-box--mobile
				h2.h2.section-slider-terminal__title
					| Складские терминалы
					br
					span.text-blue Ma
						span.text-red j
						| or
					| Terminal
				p.section-slider-terminal__text Собственные складские площади класса А
			.section-slider-terminal__row
				.section-slider-terminal__col
					.section-slider-terminal__text-box.section-slider-terminal__text-box--desktop
						h2.h2.section-slider-terminal__title
							|Складские терминалы
							br
							span.text-blue Ma
								span.text-red j
								|or
							|
							|
							|Terminal
						p.section-slider-terminal__text Собственные складские площади класса А
					.slider__nav.section-slider-terminal__nav
						button.slider__btn.slider__btn--prev(aria-label="Назад")
							+svg("chevron-slider")(class="slider__btn-arrow")
						.slider__pagination
						button.slider__btn.slider__btn--next(aria-label="Вперед")
							+svg("chevron-slider")(class="slider__btn-arrow")
				.swiper.slider.slider--index.section-slider-terminal__slider
					.swiper-wrapper
						// Slide
						.swiper-slide.slider__slide
							.slider__slide-bg-box
								img.slider__slide-bg(src="images/services/slide-bg3.jpg", alt)
							p.slider__slide-title
								+svg("map-marker")(class="slider__map-icon")
								|Логопарк Major
						// Slide
						.swiper-slide.slider__slide
							.slider__slide-bg-box
								img.slider__slide-bg(src="images/services/slide-bg4.jpg", alt)
							p.slider__slide-title
								+svg("map-marker")(class="slider__map-icon")
								|М9
						// Slide
						.swiper-slide.slider__slide.slider__slide--bg-blue
							.slider__slide-bg-box
								img.slider__slide-bg(src="images/services/slide-bg5.jpg", alt)
							p.slider__slide-title
								+svg("map-marker")(class="slider__map-icon")
								|Истра
						// Slide
						.swiper-slide.slider__slide.slider__slide--bg-light-blue
							.slider__slide-bg-box
								img.slider__slide-bg(src="images/services/slide-bg6.jpg", alt)
							p.slider__slide-title
								+svg("map-marker")(class="slider__map-icon")
								|Истра
						// Slide
						.swiper-slide.slider__slide.slider__slide--bg-light-blue
							.slider__slide-bg-box
								img.slider__slide-bg(src="images/services/slide-bg6.jpg", alt)
							p.slider__slide-title
								+svg("map-marker")(class="slider__map-icon")
								|Истра
						// Slide
						.swiper-slide.slider__slide.slider__slide--bg-light-blue
							.slider__slide-bg-box
								img.slider__slide-bg(src="images/services/slide-bg2.jpg", alt)
							p.slider__slide-title
								+svg("map-marker")(class="slider__map-icon")
								|Истра
	// Section Partner
	section.section-partner.section-partner--bg-image.container
		.section-partner__box
			.section-partner__nav-row
				ul.section-partner__link-list
					li.section-partner__link-elem
						a.section-partner__link.section-partner__link--active(href='#', data-tab='1') О Major Terminal
					li.section-partner__link-elem
						a.section-partner__link(href='#', data-tab='2') 4PL оператор
					li.section-partner__link-elem
						a.section-partner__link(href='#', data-tab='3') Логопарк
					li.section-partner__link-elem
						a.section-partner__link(href='#', data-tab='4') Ценности
				.dropdown.dropdown--navigate.section-partner__dropdown
					.dropdown__value-box
						input.dropdown__value(type='text', value='4PL оператор', disabled)
						svg.dropdown__arrow
							use(href='#chevron-dropdown')
					ul.dropdown__options-list
						li.dropdown__option.dropdown__option--selected(data-value='#', data-tab='1') Ответственное хранение и складская обработка товаров, услуги производственного аутсорсинга, транспортной дистрибуции, фулфилмент и работа с производственными маркетплейсами.
						li.dropdown__option(data-value='4PL оператор') 4PL оператор
						li.dropdown__option(data-value='#') Логопарк
						li.dropdown__option(data-value='#') Ценности
			.section-partner__content
				.tabs2__content-height.tabs2__content.active(data-tab='1')
					h2.h2.text-white.section-partner__title
						| Ma
						span.text-red j
						| or Terminal – надежный поставщик всего комплекса складских услуг
					p.section-partner__text.text-white Ответственное хранение и складская обработка товаров, услуги производственного аутсорсинга, транспортной дистрибуции, фулфилмент и работа с производственными маркетплейсами.
				.tabs2__content-height.tabs2__content(data-tab='2')
					h2.h2.text-white.section-partner__title
						| Ma
						span.text-red j
						| or Terminal является частью 4PL-оператора Major Logistics
					p.section-partner__text.text-white Специализируясь на выстраивании всей логистической цепи компаний, Major Terminal обладает колоссальным опытом и экспертизой в широком спектре складских услуг. Специализируясь на выстраивании всей логистической цепи компаний, Major Terminal обладает колоссальным опытом и экспертизой в широком спектре складских услуг. Специализируясь на выстраивании всей логистической цепи компаний, Major Terminal обладает колоссальным опытом и экспертизой в широком спектре складских услуг.
				.tabs2__content-height.tabs2__content(data-tab='3')
					h2.h2.text-white.section-partner__title
						| Логопарк Ma
						span.text-red j
						| or Terminal – комплексное решение для хранения и перевозки товаров
					p.section-partner__text.text-white Собственный таможенный склад и склады, оптимизированные для широкого спектра товаров, служба одного окна, отличная транспортная доступность и опытная команда – залог успеха вашего бизнеса.
				.tabs2__content-height.tabs2__content(data-tab='4')
					h2.h2.text-white.section-partner__title
						| Клиенты – главная ценность Ma
						span.text-red j
						| or Terminal
					p.section-partner__text.text-white Нашим клиентам гарантированы персональное внимание, многоуровневая поддержка, прозрачность всех процессов и возможность сосредоточится на своем бизнесе. О логистике позаботимся мы!
				a.button.button--outline-white.button--md.section-partner__button(href='/about/') Подробнее о нас

	// Section News
	.section-news
		.tabs
			.container
				.section-news__tab-box
					ul.tabs__nav-list
						li.tabs__nav-elem
							button.tabs__nav-button.tabs__nav-button--active(data-content="content1") Новости
						li.tabs__nav-elem
							button.tabs__nav-button(data-content="content2") Вебинары
					.show-laptop
						a.button-arrow.section-news__all-btn.tabs__all-btn.tabs__all-btn--active(href="#", data-btn-content="content1") Все новости
						a.button-arrow.section-news__all-btn.tabs__all-btn(href="#", data-btn-content="content2") Все вебинары
				.tabs__content-box
					// Content
					.tabs__content.tabs__content--active#content1
						.news-row
							// News
							.news-row__card-box
								a.news-card(href="#")
									img.news-card__img(src="images/common/news6.jpg", alt)
									.news-card__content-box
										time.news-card__time(datetime="2022-09-06") 06 октября 2022 г.
										p.news-card__title Съёмки для корпоративного блога Inventive Retail Group в Логопарке Major Terminal
							// News
							.news-row__card-box
								a.news-card.news-card--short-mobile(href="#")
									img.news-card__img(src="images/common/news7.jpg", alt)
									.news-card__content-box
										time.news-card__time(datetime="2022-09-06") 06 октября 2022 г.
										p.news-card__title Съёмки для корпоративного блога Inventive Retail Group в Логопарке Major Terminal
							// News
							.news-row__card-box
								a.news-card.news-card--short-mobile(href="#")
									img.news-card__img(src="images/common/news8.jpg", alt)
									.news-card__content-box
										time.news-card__time(datetime="2022-09-06") 06 октября 2022 г.
										p.news-card__title Съёмки для корпоративного блога Inventive Retail Group в Логопарке Major Terminal
					// Content
					.tabs__content#content2
						.news-row
							// News
							.news-row__card-box
								a.news-card(href="#")
									img.news-card__img(src="images/common/news1.jpg", alt)
									.news-card__content-box
										time.news-card__time(datetime="2022-09-06") 06 октября 2022 г.
										p.news-card__title Съёмки для корпоративного блога Inventive Retail Group в Логопарке Major Terminal
							// News
							.news-row__card-box
								a.news-card(href="#")
									img.news-card__img(src="images/common/news1.jpg", alt)
									.news-card__content-box
										time.news-card__time(datetime="2022-09-06") 06 октября 2022 г.
										p.news-card__title Съёмки для корпоративного блога Inventive Retail Group в Логопарке Major Terminal
							// News
							.news-row__card-box
								a.news-card(href="#")
									img.news-card__img(src="images/common/news1.jpg", alt)
									.news-card__content-box
										time.news-card__time(datetime="2022-09-06") 06 октября 2022 г.
										p.news-card__title Съёмки для корпоративного блога Inventive Retail Group в Логопарке Major Terminal

				.hide-laptop
					a.button-arrow.section-news__all-btn.tabs__all-btn.tabs__all-btn--active(href="#", data-btn-content="content1") Все новости
					a.button-arrow.section-news__all-btn.tabs__all-btn(href="#", data-btn-content="content2") Все вебинары
