extends pug/base

prepend vars
	//-

append vars
	-
		title = "Индустрия"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	+breadcrumb(['Главная'], 'Индустрии')(class="container")
	// Section Hero
	section.section-hero.section-hero--industry
		.container
			.section-hero__content
				h1.section-hero__title
					span.text-weight-light Индустрия
					|
					| Fashion
				p.section-hero__text Major Terminal помогает своим клиентам в сферы красоты и люкса разрабатывать продукты и модели цепочек поставок
				img.section-hero__bg(src="images/section-hero/bg6.jpg", alt)
	// Section Success
	.section-success.container
		.section-success__grid
			.section-success__elem
				p.section-success__value 5 млн
				p.section-success__text Выгрузка (коробов) / год
			.section-success__elem
				p.section-success__value 100 млн
				p.section-success__text Приемка (штук) / год
			.section-success__elem
				p.section-success__value 400 тыс
				p.section-success__text Восстановление качества
			.section-success__elem
				p.section-success__value 15 млн
				p.section-success__text Стикеров (штук) / год

	// Section Service range
	section.section-service-range
		.container
			h2.h2.section-service-range__title Учитываем
				|
				|
				span.text-red все
				|
				| особенности
				br
				|индустрии Fashion
			.links-row.section-service-range__links
				a.links-row__link(href="#") Организация забора товара
				a.links-row__link(href="#") Предпродажная подготовка
				a.links-row__link(href="#") Таможенный склад
				a.links-row__link(href="#") Срок оказания услуг
		// Section Partner
		.section-partner.section-partner--blue.container
			.section-partner__content
				ul.section-partner__link-list
					li.section-partner__link-elem
						a.section-partner__link(href="#") Услуги
					li.section-partner__link-elem
						a.section-partner__link(href="#") Таможенный склад
					li.section-partner__link-elem
						a.section-partner__link(href="#") Предпродажная подготовка
					li.section-partner__link-elem
						a.section-partner__link(href="#") Дистрибуция
				.section-partner__row
					.section-partner__col.section-partner__col--content
						.section-partner__list-arrow-block
							ul.list-arrow.list-arrow--red
								li.list-arrow__elem Разгрузка, приемка, контроль качества
								li.list-arrow__elem Сортировка товаров по группам и категория
								li.list-arrow__elem Подбор и отгрузка по FIFO, FEFO, лотам, партиям
								li.list-arrow__elem Возвратная логистика
							ul.list-arrow.list-arrow--red
								li.list-arrow__elem Кросс-докинг
								li.list-arrow__elem Выбраковка
								li.list-arrow__elem Восстановление качества
								li.list-arrow__elem Маркировка
						a.button.button--outline-blue.button--md.section-partner__button(href="#") Оставить заявку
					.section-partner__col.section-partner__col--img
						img.section-partner__image(src="images/section-partner/img1.svg", alt)
	// Section Description
	section.section-description.container
		h2.h2.section-description__title Опции и преимущества
		.section-description__panel-grid
			// Panel
			article.section-description__panel
				.section-description__panel-content
					h3.section-description__panel-title Личный кабинет клиента
					p.section-description__panel-text Управление и отчетность в едином личном кабинете с множеством полезных функций
					a.section-description__panel-link(href="#") Перейти в кабинет
				img.section-description__panel-img(src="images/section-description/img1.png", alt)
			// Panel
			article.section-description__panel
				img.section-description__panel-img(src="images/section-description/img2.svg", alt)
				.section-description__panel-content
					h3.section-description__panel-title Интеграция с WMS системой
					p.section-description__panel-text Система управления складом Major собственной разработки. Команда разработчиков и поддержки WMS в режиме 24/7.
					a.section-description__panel-link(href="#") Узнать подробнее
			// Panel
			article.section-description__panel
				img.section-description__panel-img(src="images/section-description/img3.svg", alt)
				.section-description__panel-content
					h3.section-description__panel-title Служба качества
					p.section-description__panel-text Система управления складом Major собственной разработки. Команда разработчиков и поддержки WMS в режиме 24/7.
					a.section-description__panel-link(href="#") Узнать подробнее
			// Panel
			article.section-description__panel
				.section-description__panel-content
					h3.section-description__panel-title Интеграция с системами клиента
					p.section-description__panel-text Собственный департамент разработки помогут реализовать решение для автоматизации ваших бизнес процессов.
					a.section-description__panel-link(href="#") Скачать презентацию
				img.section-description__panel-img(src="images/section-description/img4.svg", alt)
		p.section-description__text-block
			strong Major Terminal
			|
			| помогает своим клиентам в сферы красоты и люкса разрабатывать продукты и модели цепочек поставок, отвечающие растущим запросам потребителей и высоким ожиданиям от бренда. Мы предлагаем широкий ассортимент высококачественных логистических услуг в сфере красоты и люкса, от многоканального выполнения заказов до глобальных транспортных или пере упаковочных решений, адаптированных к рынкам предметов роскоши, что позволяет брендам отражать свой имидж и выполнять обязательства перед людьми и экологией в своей цепочке поставок.

		.section-description__photo-grid
			.section-description__photo-box
				img.section-description__photo-img(src="images/section-slider/slide1.jpg", alt)
				button.section-description__photo-play-button
					+svg("play")(class="section-description__photo-play-icon")
			.section-description__photo-box
				img.section-description__photo-img(src="images/section-slider/slide2.jpg", alt)
			.section-description__photo-box
				img.section-description__photo-img(src="images/section-slider/slide3.jpg", alt)

		p.section-description__text-block Индустрия Fashion сталкивается с различными проблемами, такими как изменчивая мода, доступная роскошь или персонализированные покупки. Более того, ожидания потребителей меняются за счет технологий, соображений устойчивости  и новых участников рынка. Вот почему косметическим компаниям необходимо принимать во внимание транспортные и логистические аспекты, чтобы облегчить любые долгосрочные цепочки поставок и проблемы со спросом.
