extends pug/base

prepend vars
	//-

append vars
	-
		title = "Список страниц"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	section(style="display:flex;padding:100px;")
		ul.list-arrow.list-arrow--red(style="margin:auto")
			li.list-arrow__elem
				a(href="index.html", target="_blank") Главная
			li.list-arrow__elem
				a(href="404.html", target="_blank") 404
			li.list-arrow__elem -----------------------------------
			li.list-arrow__elem
				a(href="industries.html", target="_blank") Индустрии
			li.list-arrow__elem
				a(href="industry.html", target="_blank") Карточка индустрии
			li.list-arrow__elem -----------------------------------
			li.list-arrow__elem
				a(href="press-list.html", target="_blank") Пресс-релизы
			li.list-arrow__elem
				a(href="press-item.html", target="_blank") Пресс-релиз
			li.list-arrow__elem -----------------------------------
			li.list-arrow__elem
				a(href="career.html", target="_blank") Карьера
			li.list-arrow__elem
				a(href="career-list.html", target="_blank") Список вакансий
			li.list-arrow__elem
				a(href="career-item.html", target="_blank") Карточка вакансии
			li.list-arrow__elem -----------------------------------
			li.list-arrow__elem
				a(href="department.html", target="_blank") Отдел службы качества
