extends pug/base

prepend vars
	//-

append vars
	-
		title = "Услуги"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	+breadcrumb(['Главная'], 'Услуги')(class="container")

	// Section Service list
	section.section-service-list.container
		h1.h1.text-blue.section-service-list__title Услуги
		p.section-service-list__description Предоставляем полный спектр складских услуг для Вашего бизнеса
		.section-service-list__grid
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon1.svg")
				.card__title-box
					p.card__title Ответственное
						br
						|хранение
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg7.jpg", alt)
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon2.svg")
				.card__title-box
					p.card__title Складская
						br
						|обработка
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg8.jpg", alt)
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon3.svg")
				.card__title-box
					p.card__title Копакинг
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg9.jpg", alt)
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon4.svg")
				.card__title-box
					p.card__title Фулфилмент
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg10.jpg", alt)
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon5.svg")
				.card__title-box
					p.card__title Маркировка
						br
						|честный знак
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg11.jpg", alt)
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon6.svg")
				.card__title-box
					p.card__title Работа с
						br
						|комплектами
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg12.jpg", alt)
		.section-service-list__button-row
			button.button.button--outline-blue.button--md.section-service-list__button Показать еще


