extends pug/base

prepend vars
	//-

append vars
	-
		title = "Фулфилмент"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	+breadcrumb(['Главная'], 'Услуга')(class="container")
	// Section Hero
	section.section-hero.section-hero--industry
		.container
			.section-hero__content
				h1.section-hero__title Фулфилмент
				p.section-hero__text Фулфилмент на аутсорсе от эксперта в области складских операций
				img.section-hero__bg(src="images/section-hero/bg7.jpg", alt)
	// Section Success
	.section-success.container
		.section-success__grid
			.section-success__elem
				p.section-success__value 5 млн
				p.section-success__text Выгрузка (коробов) / год
			.section-success__elem
				p.section-success__value 100 млн
				p.section-success__text Приемка (штук) / год
			.section-success__elem
				p.section-success__value 400 тыс
				p.section-success__text Восстановление качества
			.section-success__elem
				p.section-success__value 15 млн
				p.section-success__text Стикеров (штук) / год

	// Section Service range
	section.section-service-range
		.container
			h2.h2.section-service-range__title Полный комплекс услуг
				br
				span.text-red по фулфилменту
			.links-row.section-service-range__links
				a.links-row__link(href="#") Организация забора товара
				a.links-row__link(href="#") Прием товара
				a.links-row__link(href="#") Комплектация и упаковка
				a.links-row__link(href="#") Комплектация и упаковка FBS заказов
				a.links-row__link(href="#") Доставка
				a.links-row__link(href="#") Подготовка товара к отгрузке на маркетплейсы
		// Section Partner
		.section-partner.section-partner--type2.section-partner--blue.container
			.section-partner__content
				ul.section-partner__link-list
					li.section-partner__link-elem
						a.section-partner__link(href="#") FBO и FBS
					li.section-partner__link-elem
						a.section-partner__link(href="#") Возможности интеграций
					li.section-partner__link-elem
						a.section-partner__link(href="#") Омниканальность
				.section-partner__row
					.section-partner__col.section-partner__col--content
						h3.h2.section-partner__title Работа по FBS и FBO на
							br
							|одном складе
						p.section-partner__text.section-partner__text--type2 Продавать на маркетплейсах можно по разному — хранить товары у себя или отправить их на склад онлайн-площадки, которая возьмет на себя обработку заказов и их упаковку.
							br
							br
							span.text-weight-light Major Terminal работает по любой схеме и может как хранить товары у себя на складе, так и забирать их с вашего склада для дальнейшей обработки.
						a.button.button--outline-blue.button--md.section-partner__button(href="#") Оставить заявку
					.section-partner__col.section-partner__col--img
						img.section-partner__image(src="images/section-partner/img2.svg", alt)
	// Section Description
	section.section-description.section-description--service.container
		h2.h2.section-description__title Преимущества Major
		.section-description__panel-grid
			// Panel
			article.section-description__panel
				.section-description__panel-content
					h3.section-description__panel-title Личный кабинет клиента
					p.section-description__panel-text Управление и отчетность в едином личном кабинете с множеством полезных функций
					a.section-description__panel-link(href="#") Перейти в кабинет
				img.section-description__panel-img(src="images/section-description/img1.png", alt)
			// Panel
			article.section-description__panel
				img.section-description__panel-img(src="images/section-description/img2.svg", alt)
				.section-description__panel-content
					h3.section-description__panel-title Интеграция с WMS системой
					p.section-description__panel-text Система управления складом Major собственной разработки. Команда разработчиков и поддержки WMS в режиме 24/7.
					a.section-description__panel-link(href="#") Узнать подробнее
			// Panel
			article.section-description__panel
				img.section-description__panel-img(src="images/section-description/img3.svg", alt)
				.section-description__panel-content
					h3.section-description__panel-title Служба качества
					p.section-description__panel-text Система управления складом Major собственной разработки. Команда разработчиков и поддержки WMS в режиме 24/7.
					a.section-description__panel-link(href="#") Узнать подробнее
			// Panel
			article.section-description__panel
				.section-description__panel-content
					h3.section-description__panel-title Интеграция с системами клиента
					p.section-description__panel-text Собственный департамент разработки помогут реализовать решение для автоматизации ваших бизнес процессов.
					a.section-description__panel-link(href="#") Скачать презентацию
				img.section-description__panel-img(src="images/section-description/img4.svg", alt)

	// Section Icon list
	section.section-icon-list.container
		figure.section-icon-list__elem
			.section-icon-list__icon-box
				img.section-icon-list__icon(src="images/section-icon-list/icon1.svg", alt)
			figcaption.section-icon-list__text Круглосуточная
				br
				|поддержка
		figure.section-icon-list__elem
			.section-icon-list__icon-box
				img.section-icon-list__icon(src="images/section-icon-list/icon2.svg", alt)
			figcaption.section-icon-list__text Персональный
				br
				|менеджер
		figure.section-icon-list__elem
			.section-icon-list__icon-box
				img.section-icon-list__icon(src="images/section-icon-list/icon3.svg", alt)
			figcaption.section-icon-list__text Прозрачная
				br
				|тарификация
		figure.section-icon-list__elem
			.section-icon-list__icon-box
				img.section-icon-list__icon(src="images/section-icon-list/icon4.svg", alt)
			figcaption.section-icon-list__text Кросс-докинг
		figure.section-icon-list__elem
			.section-icon-list__icon-box
				img.section-icon-list__icon(src="images/section-icon-list/icon5.svg", alt)
			figcaption.section-icon-list__text Наложенный
				br
				|платеж
		figure.section-icon-list__elem
			.section-icon-list__icon-box
				img.section-icon-list__icon(src="images/section-icon-list/icon6.svg", alt)
			figcaption.section-icon-list__text Служба контроля
				br
				|качества
		figure.section-icon-list__elem
			.section-icon-list__icon-box
				img.section-icon-list__icon(src="images/section-icon-list/icon7.svg", alt)
			figcaption.section-icon-list__text Комплектакция
				br
				|промо-наборов
		figure.section-icon-list__elem
			.section-icon-list__icon-box
				img.section-icon-list__icon(src="images/section-icon-list/icon8.svg", alt)
			figcaption.section-icon-list__text Частичный
				br
				|выкуп заказа
		figure.section-icon-list__elem
			.section-icon-list__icon-box
				img.section-icon-list__icon(src="images/section-icon-list/icon9.svg", alt)
			figcaption.section-icon-list__text Работа с B2B и B2C
				br
				|клиентами

	// Section Experience
	section.section-experience.container
		h2.h2.section-experience__title Наш опыт в фулфилменте
		.section-experience__grid
			// Card
			a.section-experience__card.card.card--experience.card--with-tag-line(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Складское хранение
				.card__title-box
					p.card__title Спортивная одежда
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-experience/bg3.jpg", alt)
			// Card
			a.section-experience__card.card.card--experience.card--with-tag-line(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Fashion
				.card__title-box
					p.card__title Электроника
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-experience/bg4.jpg", alt)
	// Section Service list
	section.section-service-list.section-service-list--service.container
		h2.h2.section-service-list__title Другие услуги
		.section-service-list__grid
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon1.svg")
				.card__title-box
					p.card__title Ответственное
						br
						|хранение
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg7.jpg", alt)
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon2.svg")
				.card__title-box
					p.card__title Складская
						br
						|обработка
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg8.jpg", alt)
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon3.svg")
				.card__title-box
					p.card__title Копакинг
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg9.jpg", alt)
