extends pug/base

prepend vars
	//-

append vars
	-
		title = "Фулфилмент"
		meta.description = "Описание"
		link.icon = "favicons/favicon.ico"
		link.icon16x16 = "favicons/favicon-16x16.png"
		link.icon32x32 = "favicons/favicon-32x32.png"

block content
	+breadcrumb(['Главная'], 'Услуга')(class="container")
	// Section Hero
	section.section-hero.section-hero--service
		.container
			.section-hero__content
				h1.section-hero__title Фулфилмент
				p.section-hero__text Фулфилмент на аутсорсе от эксперта в области складских операций
				img.section-hero__bg(src="images/section-hero/bg7.jpg", alt)
			p.section-hero__text.section-hero__text--mobile Фулфилмент на аутсорсе от эксперта в области складских операций
	// Section Success
	.section-success.section-success--mobile-two-col.container
		.section-success__grid
			.section-success__elem
				p.section-success__value 5 млн
				p.section-success__text Выгрузка (коробов) / год
			.section-success__elem
				p.section-success__value 100 млн
				p.section-success__text Приемка (штук) / год
			.section-success__elem
				p.section-success__value 400 тыс
				p.section-success__text Кол-во м2 складов
			.section-success__elem
				p.section-success__value 15 млн
				p.section-success__text Стикеров (штук) / год

	// Section Service range
	section.section-service-range
		.container
			h2.h2.section-service-range__title Полный комплекс
				|
				|
				br.hide-desktop
				|услуг
				|
				|
				br.hide-mobile
				span.text-red по фулфилменту
			.links-row.section-service-range__links
				p.links-row__link Организация забора товара
				p.links-row__link Прием товара
				p.links-row__link Комплектация и упаковка
				p.links-row__link Комплектация и упаковка FBS заказов
				p.links-row__link Доставка
				p.links-row__link Подготовка товара к отгрузке на маркетплейсы
			p.section-service-range__text Политика конфиденциальности персональных данных г. Москва «01» июня 2017 г. Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую Сайт транспортно-логистической группы компаний Major, расположенный на доменном имени www.mjr.ru, может получить о Пользователе во время его использования.
		// Section Partner
		//section.section-partner.section-partner--type2.section-partner--bg-blue.container
			.section-partner__box
				.section-partner__nav-row
					ul.section-partner__link-list
						li.section-partner__link-elem
							a.section-partner__link.section-partner__link--active(href='#', data-tab='1') О Major Terminal
						li.section-partner__link-elem
							a.section-partner__link(href='#', data-tab='2') 4PL оператор
						li.section-partner__link-elem
							a.section-partner__link(href='#', data-tab='3') Логопарк
						li.section-partner__link-elem
							a.section-partner__link(href='#', data-tab='4') Ценности
					.dropdown.dropdown--navigate.section-partner__dropdown
						.dropdown__value-box
							input.dropdown__value(type='text', value='4PL оператор', disabled)
							svg.dropdown__arrow
								use(href='#chevron-dropdown')
						ul.dropdown__options-list
							li.dropdown__option.dropdown__option--selected(data-value='#', data-tab='1') Ответственное хранение и складская обработка товаров, услуги производственного аутсорсинга, транспортной дистрибуции, фулфилмент и работа с производственными маркетплейсами.
							li.dropdown__option(data-value='4PL оператор') 4PL оператор
							li.dropdown__option(data-value='#') Логопарк
							li.dropdown__option(data-value='#') Ценности
				.section-partner__content
					.tabs2__content-height.tabs2__content.active(data-tab='1')
						h2.h2.text-white.section-partner__title
							| Ma
							span.text-red j
							| or Terminal – надежный поставщик всего комплекса складских услуг
						p.section-partner__text.text-white Ответственное хранение и складская обработка товаров, услуги производственного аутсорсинга, транспортной дистрибуции, фулфилмент и работа с производственными маркетплейсами.
					.tabs2__content-height.tabs2__content(data-tab='2')
						h2.h2.text-white.section-partner__title
							| Ma
							span.text-red j
							| or Terminal является частью 4PL-оператора Major Logistics
						p.section-partner__text.text-white Специализируясь на выстраивании всей логистической цепи компаний, Major Terminal обладает колоссальным опытом и экспертизой в широком спектре складских услуг. Специализируясь на выстраивании всей логистической цепи компаний, Major Terminal обладает колоссальным опытом и экспертизой в широком спектре складских услуг. Специализируясь на выстраивании всей логистической цепи компаний, Major Terminal обладает колоссальным опытом и экспертизой в широком спектре складских услуг.
					.tabs2__content-height.tabs2__content(data-tab='3')
						h2.h2.text-white.section-partner__title
							| Логопарк Ma
							span.text-red j
							| or Terminal – комплексное решение для хранения и перевозки товаров
						p.section-partner__text.text-white Собственный таможенный склад и склады, оптимизированные для широкого спектра товаров, служба одного окна, отличная транспортная доступность и опытная команда – залог успеха вашего бизнеса.
					.tabs2__content-height.tabs2__content(data-tab='4')
						h2.h2.text-white.section-partner__title
							| Клиенты – главная ценность Ma
							span.text-red j
							| or Terminal
						p.section-partner__text.text-white Нашим клиентам гарантированы персональное внимание, многоуровневая поддержка, прозрачность всех процессов и возможность сосредоточится на своем бизнесе. О логистике позаботимся мы!
					a.button.button--outline-white.button--md.section-partner__button(href='/about/') Подробнее о нас
		// Section Partner
		.section-partner.section-partner--type2.section-partner--bg-blue.container
			.section-partner__box
				.section-partner__nav-row
					ul.section-partner__link-list
						li.section-partner__link-elem
							a.section-partner__link.section-partner__link--active(href='#', data-tab='1') FBO и FBS
						li.section-partner__link-elem
							a.section-partner__link(href='#', data-tab='2') Возможности интеграций
						li.section-partner__link-elem
							a.section-partner__link(href='#', data-tab='3') Омниканальность
					.dropdown.dropdown--text-blue.section-partner__dropdown
						.dropdown__value-box
							input.dropdown__value(type="text", value="FBO и FBS", disabled)
							+svg("chevron-dropdown", true)(class="dropdown__arrow")
						ul.dropdown__options-list
							li.dropdown__option.dropdown__option--selected(data-value="FBO и FBS", data-tab='1') FBO и FBS
							li.dropdown__option(data-value="Возможности интеграций", data-tab='2') Возможности интеграций
							li.dropdown__option(data-value="Омниканальность", data-tab='3') Омниканальность
				.section-partner__content
					.tabs2__content-height.tabs2__content.active(data-tab='1')
						.section-partner__row
							.section-partner__col.section-partner__col--content
								h3.h2.section-partner__title.hide-mobile Работа по FBS и FBO на
									br
									|одном складе 1
								p.section-partner__text Продавать на маркетплейсах можно по разному — хранить товары у себя или отправить их на склад онлайн-площадки, которая возьмет на себя обработку заказов и их упаковку 1.
									br
									br
									span.text-weight-light Major Terminal работает по любой схеме и может как хранить товары у себя на складе, так и забирать их с вашего склада для дальнейшей обработки.
								a.button.button--outline-blue.button--md.section-partner__button.hide-desktop(href="#") Оставить заявку
							.section-partner__col.section-partner__col--img
								img.section-partner__image.mb-auto(src="images/section-partner/img4.svg", alt)
					.tabs2__content-height.tabs2__content(data-tab='2')
						.section-partner__row
							.section-partner__col.section-partner__col--content
								h3.h2.section-partner__title.hide-mobile Работа по FBS и FBO на
									br
									| одном складе 2 Работа по FBS и FBO на Работа по FBS и FBO на
								p.section-partner__text Продавать на маркетплейсах можно по разному — хранить товары у себя или отправить их на склад онлайн-площадки, которая возьмет на себя обработку заказов и их упаковку 2.
									br
									br
									span.text-weight-light Major Terminal работает по любой схеме и может как хранить товары у себя на складе, так и забирать их с вашего склада для дальнейшей обработки.
								a.button.button--outline-blue.button--md.section-partner__button.hide-desktop(href="#") Оставить заявку
							.section-partner__col.section-partner__col--img
								img.section-partner__image.mb-auto(src="images/section-partner/img4.svg", alt)
					.tabs2__content-height.tabs2__content(data-tab='3')
						.section-partner__row
							.section-partner__col.section-partner__col--content
								h3.h2.section-partner__title.hide-mobile Работа по FBS и FBO на
									br
									| одном складе 3
								p.section-partner__text Продавать на маркетплейсах можно по разному — хранить товары у себя или отправить их на склад онлайн-площадки, которая возьмет на себя обработку заказов и их упаковку 3.
									br
									br
									span.text-weight-light Major Terminal работает по любой схеме и может как хранить товары у себя на складе, так и забирать их с вашего склада для дальнейшей обработки.
								a.button.button--outline-blue.button--md.section-partner__button.hide-desktop(href="#") Оставить заявку
							.section-partner__col.section-partner__col--img
								img.section-partner__image.mb-auto(src="images/section-partner/img4.svg", alt)
					a.button.button--blue-dark.button--md.section-partner__button.hide-mobile(href="#") Оставить заявку
	// Section Description
	section.section-description.container
		h2.h2.section-description__title Опции и
			|
			|
			br.hide-desktop
			| преимущества
		.swiper.section-description__panel-slider
			.section-description__panel-grid.swiper-wrapper
				// Panel
				article.section-description__panel.swiper-slide
					.section-description__panel-content
						h3.section-description__panel-title Личный кабинет клиента
						p.section-description__panel-text Управление и отчетность в едином личном кабинете с множеством полезных функций
						a.section-description__panel-link(href="#") Перейти в кабинет
					img.section-description__panel-img(src="images/section-description/img1.png", alt)
				// Panel
				article.section-description__panel.section-description__panel--image-left.swiper-slide
					.section-description__panel-content
						h3.section-description__panel-title Интеграция с WMS системой
						p.section-description__panel-text Система управления складом Major собственной разработки. Команда разработчиков и поддержки WMS в режиме 24/7.
						a.section-description__panel-link(href="#") Узнать подробнее
					img.section-description__panel-img(src="images/section-description/img2.svg", alt)
				// Panel
				article.section-description__panel.section-description__panel--image-left.swiper-slide
					.section-description__panel-content
						h3.section-description__panel-title Служба качества
						p.section-description__panel-text Система управления складом Major собственной разработки. Команда разработчиков и поддержки WMS в режиме 24/7.
						a.section-description__panel-link(href="#") Узнать подробнее
					img.section-description__panel-img(src="images/section-description/img3.svg", alt)
				// Panel
				article.section-description__panel.swiper-slide
					.section-description__panel-content
						h3.section-description__panel-title Интеграция с системами клиента
						p.section-description__panel-text Собственный департамент разработки помогут реализовать решение для автоматизации ваших бизнес процессов.
						a.section-description__panel-link(href="#") Скачать презентацию
					img.section-description__panel-img(src="images/section-description/img4.svg", alt)
		.slider__nav.hide-desktop
			button.slider__btn.slider__btn--prev(aria-label="Назад")
				+svg("chevron-slider")(class="slider__btn-arrow")
			.slider__pagination
			button.slider__btn.slider__btn--next(aria-label="Вперед")
				+svg("chevron-slider")(class="slider__btn-arrow")

	// Section Icon list
	section.section-icon-list.container
		.section-icon-list__row
			figure.section-icon-list__elem
				.section-icon-list__icon-box
					img.section-icon-list__icon(src="images/section-icon-list/icon1.svg", alt)
				figcaption.section-icon-list__text Круглосуточная
					br
					|поддержка
			figure.section-icon-list__elem
				.section-icon-list__icon-box
					img.section-icon-list__icon(src="images/section-icon-list/icon2.svg", alt)
				figcaption.section-icon-list__text Персональный
					br
					|менеджер
			figure.section-icon-list__elem
				.section-icon-list__icon-box
					img.section-icon-list__icon(src="images/section-icon-list/icon3.svg", alt)
				figcaption.section-icon-list__text Прозрачная
					br
					|тарификация
			figure.section-icon-list__elem
				.section-icon-list__icon-box
					img.section-icon-list__icon(src="images/section-icon-list/icon4.svg", alt)
				figcaption.section-icon-list__text Кросс-докинг
			figure.section-icon-list__elem
				.section-icon-list__icon-box
					img.section-icon-list__icon(src="images/section-icon-list/icon5.svg", alt)
				figcaption.section-icon-list__text Наложенный
					br
					|платеж
			figure.section-icon-list__elem
				.section-icon-list__icon-box
					img.section-icon-list__icon(src="images/section-icon-list/icon6.svg", alt)
				figcaption.section-icon-list__text Служба контроля
					br
					|качества
			figure.section-icon-list__elem
				.section-icon-list__icon-box
					img.section-icon-list__icon(src="images/section-icon-list/icon7.svg", alt)
				figcaption.section-icon-list__text Комплектакция
					br
					|промо-наборов
			figure.section-icon-list__elem
				.section-icon-list__icon-box
					img.section-icon-list__icon(src="images/section-icon-list/icon8.svg", alt)
				figcaption.section-icon-list__text Частичный
					br
					|выкуп заказа
			figure.section-icon-list__elem
				.section-icon-list__icon-box
					img.section-icon-list__icon(src="images/section-icon-list/icon9.svg", alt)
				figcaption.section-icon-list__text Работа с B2B и B2C
					|
					|
					br.hide-mobile
					|клиентами

	// Section Experience
	section.section-experience.container
		h2.h2.section-experience__title Наш опыт в фулфилменте
		.section-experience__grid
			// Card
			a.section-experience__card.card.card--experience.card--with-tag-line(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Складское хранение
				.card__title-box
					p.card__title Спортивная одежда
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-experience/bg3.jpg", alt)
			// Card
			a.section-experience__card.card.card--experience.card--with-tag-line(href="#")
				ul.card__tag-list
					li.card__tag Fashion
					li.card__tag Fashion
				.card__title-box
					p.card__title Электроника
					+svg("chevron-right-big")(class="card__arrow")
				.card__bg-box
					img.card__bg(src="images/section-experience/bg4.jpg", alt)
		button.button.button--outline-blue-light.button--block.button--md.hide-desktop.section-experience__button Показать еще
	// Section Service list
	section.section-service-list.section-service-list--service.container
		h2.h2.section-service-list__title Другие услуги
		.section-service-list__grid
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon1.svg")
				.card__title-box
					p.card__title Ответственное
						br
						|хранение
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg7.jpg", alt)
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon2.svg")
				.card__title-box
					p.card__title Складская
						br
						|обработка
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg8.jpg", alt)
			// Card
			a.section-service-list__card.card.card--with-icon.card--small-radius(href="#")
				img.card__icon(src="images/section-service-list/icon3.svg")
				.card__title-box
					p.card__title Копакинг
				span.button.button--white.button--xs.card__btn-more Подробнее
				.card__bg-box
					img.card__bg(src="images/section-service-list/bg9.jpg", alt)
		.section-service-list__button-row.hide-desktop
			button.button.button--outline-blue-light.button--block.button--md.hide-desktop.section-service-list__button Показать еще
