*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: $color-body;
	font-family: $font-primary;
	color: $color-black;
	overflow-x: hidden;
}


button,
input,
textarea {
	font-family: inherit;
	color: inherit;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}
