// Colors
$color-transparent: rgba(#fff, 0);
$color-body: #F6F6F6;
$color-black: #000;
$color-white: #fff;
$color-gray: #eee;

$color-blue: #004996;
$color-blue-medium: #00539F;
$color-blue-light: #2B6BCD;

$color-red: #E10000;


// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;
$font-additional: 'Montserrat', sans-serif;

// Transitions
$transition-default: .2s ease;
