.section-advantages {
	padding-top: 40px;
	padding-bottom: 40px;

	&__title {
		margin-top: 0;
		margin-bottom: 64px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 32px;
		grid-row-gap: 37px;
	}

	&__card {
		display: block;
		padding: 36px 42px;
		border-radius: 10px;
		background-color: $color-white;
		border: 1px solid $color-white;
		box-shadow: 0 4px 45px #D9E4EF;
		color: $color-black;
		transition: border-color $transition-default, background-color $transition-default;

		&:hover {
			background-color: #E4EDF3;
			border-color: #C8DCEA;
		}
	}

	&__card-title-box {
		display: flex;
		margin-bottom: 25px;
	}

	&__card-title {
		margin: 0;
		font-size: 24px;
		line-height: 24PX;
		font-weight: 900;
		color: $color-blue;
	}

	&__card-arrow {
		width: 12px;
		height: 20px;
		margin-right: 22px;
		color: $color-red;
		transform: translateY(2px);
	}

	&__card-text {
		width: 100%;
		max-width: 400px;
		margin: 0;
		font-size: 14px;
		line-height: 18px;
	}
}
