.section-contacts {
	position: relative;
	z-index: 0;
	padding-top: 116px;
	padding-bottom: 64px;
	background-color: $color-blue-light3;
	overflow: hidden;

	&__row {
		display: grid;
		grid-template-columns: 1.55fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 90px;
	}

	&__form-box {}
	&__img-box {}

	&__img {
		width: 100%;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 71px;
		color: $color-blue;

		.section-contacts--job & {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-bottom: 47px;
			font-family: $font-secondary;
			font-size: 50px;
			line-height: 100px;
			font-weight: 700;
			text-align: unset;
		}
	}

	&__form {
		width: 100%;
		max-width: 1060px;
		margin: 0 auto;

		.section-contacts--job & {
			margin: 0;
		}
	}

	&__form-row {
		display: flex;
		margin: 0 -16px 35px;

		.section-contacts--job & {
			margin-bottom: 63px;
			transform: none;
		}
	}

	&__form-col {
		width: 100%;
		padding: 0 16px;

		&--inputs {
			max-width: 43%;

			.section-contacts--job & {
				max-width: 46%;
			}
		}

		&--message {
			max-width: 57%;

			.section-contacts--job & {
				max-width: 54%;
			}
		}
	}

	&__form-input {
		display: block;
		width: 100%;
	}

	&__form-textarea {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__input-box {
		&:not(:last-child) {
			margin-bottom: 23px;
		}
	}

	&__textarea-box {
		height: 100%;
	}

	&__form-submit-box {
		.section-contacts--job & {
			display: flex;
			align-items: center;
			text-align: unset;
		}
	}

	&__form-submit {
		width: 100%;
		max-width: 255px;
	}

	&__call-text {
		margin-left: 30px;
		font-family: $font-primary;
		font-size: 24px;
		line-height: 100px;
		font-weight: 600;
	}

	&__call-link {
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	&__form-upload-text {
		margin-top: 0;
		margin-bottom: 47px;
		font-size: 18px;
		line-height: 18px;
		font-weight: 700;
		color: $color-white;
	}

	&__form-upload-input {
		display: none;
	}

	&__form-upload-label {
		margin: 0;
		padding: 12px 32px;
		border: 1px dashed $color-white;
		border-radius: 40px;
		font-family: $font-additional;
		font-size: 18px;
		line-height: 18px;
		font-weight: 700;
		color: $color-white;
		cursor: pointer;
	}
}
