.section-vacancy-item {
	padding-top: 15px;
	padding-bottom: 78px;

	&__title {
		margin-top: 0;
		margin-bottom: 28px;
	}

	&__description {
		display: flex;
		align-items: center;
		margin-bottom: 62px;
	}

	&__salary {
		margin: 0 39px 0 0;
		font-size: 32px;
		line-height: 50px;
	}

	&__button {
		width: 100%;
		max-width: 236px;
		margin-right: 20px;
	}

	&__date {
		margin: 0 0 0 auto;
		font-size: 16px;
		line-height: 32px;
		font-weight: 700;
		opacity: .5;
	}

	&__panel {
		padding: 42px 66px 23px;
		border-radius: 10px;
		background-color: $color-white;

		&:not(:last-child) {
			margin-bottom: 36px;
		}
	}

	&__panel-title {
		margin-top: 0;
		margin-bottom: 40px;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 32px;
		font-weight: 800;
		color: $color-blue;
	}

	&__panel-row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 32px;
	}

	&__panel-list {
		margin: 0;
	}
}
