.section-contact-info {
	@media (min-width: $breakpoint-desktop) {
		padding-top: 21px;
		padding-bottom: 123px;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 21px;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 44px;
		}
	}

	&__links {
		@media (min-width: $breakpoint-desktop) {
			display: flex;
			margin: 0 -72px 74px;
		}
	}

	&__links-col {
		@media (min-width: $breakpoint-desktop) {
			padding: 0 72px;
		}
	}

	&__link {
		display: inline-block;
		margin-bottom: 16px;
		font-size: 24px;
		line-height: 1;
		font-weight: 700;
		color: $color-black;
		transition: color $transition-default;

		@media (min-width: $breakpoint-desktop) {
			font-size: 32px;
		}

		&:hover {
			color: $color-red;
		}

		&--mail {
			margin-bottom: 44px;

			@media (min-width: $breakpoint-desktop) {
				margin-bottom: 54px;
			}
		}
	}

	&__link-description {
		margin-top: 0;
		margin-bottom: 45px;
		font-size: 14px;
		line-height:1;
		font-weight: 700;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 36px;
			font-size: 18px;
		}

		&:last-child {
			margin-bottom: 36px;

			@media (min-width: $breakpoint-desktop) {
				margin-bottom: 0;
			}
		}
	}

	&__social {
		margin-bottom: 27px;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 0;
		}
	}

	&__mail-button {
		width: 270px;
	}

	&__object {
		width: 100%;
		margin-bottom: 44px;

		@media (min-width: $breakpoint-desktop) {
			max-width: 566px;
		}
	}

	&__object-title {
		margin-top: 0;
		margin-bottom: 16px;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 48px;
		font-weight: 700;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 36px;
			font-size: 32px;
		}
	}

	&__object-text {
		margin-top: 0;
		margin-bottom: 38px;
		font-size:18px;
		line-height: 24px;
		font-weight: 300;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 46px;
			font-size: 24px;
		}
	}

	&__object-time {
		display: flex;
		align-items: center;
		margin-bottom: 21px;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 60px;
		}
	}

	&__object-time-icon {
		width: 42px;
		height: 42px;
		margin-right: 19px;
	}

	&__object-work-box {
	}

	&__object-work-text {
		margin-top: 0;
		margin-bottom: 2px;
		font-size: 14px;
		line-height: 24px;

		@media (min-width: $breakpoint-desktop) {
			font-size: 24px;
		}
	}

	&__map-route {
		width: 100%;
		border-radius: 25px;
		margin-top: 10px;
		margin-bottom: 51px;

		@media (min-width: $breakpoint-desktop) {
			margin-top: 0;
			margin-bottom: 95px;
		}
	}

	&__rules {
		color: #202020;
	}

	&__rules-text-box {
		padding: 40px;
	}

	&__rules-title {
		margin-top: 0;
		margin-bottom: 24px;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 24px;
		font-weight: 700;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 32px;
			font-size: 32px;
			line-height: 40px;
		}
	}

	&__rules-subtitle {
		margin-top: 0;
		margin-bottom: 36px;
		font-family: $font-secondary;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 40px;
		}
	}

	&__cite {
		margin-bottom: 47px;
		padding: 0 24px;
		border-left: 4px solid $color-red;
		font-size: 14px;
		line-height: 18px;
		font-weight: 300;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 33px;
			padding: 0 18px;
		}
	}

	&__cite-text {
		margin: 0;
	}

	&__rules-phone {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		color: $color-black;
		transition: color $transition-default;

		&:hover {
			color: $color-red;
		}

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 0;
		}
	}

	&__rules-text {
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 18px;
		font-weight: 300;
	}

	&__rules-photo {
		width: 100%;
		border-radius: 25px;
		box-shadow: 0 4px 50px rgba(#000, .25);
		margin-bottom: 24px;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 0;
		}
	}

	&__row {
		display: flex;
		column-gap: 130px;
	}

	&__images {
		width: 100%;
		max-width: 945px;
	}
}
