.section-request {
	padding-top: 82px;
	padding-bottom: 40px;

	&__title {
		margin-top: 0;
		margin-bottom: 67px;
	}

	&__row {
		display: flex;
	}

	&__col {
		flex-grow: 1;
		width: 100%;
		max-width: 50%;
		flex-shrink: 0;
	}

	&__img {
		max-width: 100%;
		transform: translateX(-12%);
	}

	&__list {
		margin-bottom: 55px;
	}

	&__button {
		width: 100%;
		max-width: 244px;
	}
}
