.section-nav {
	padding-top: 8px;
	padding-bottom: 8px;

	&__list {
		display: flex;
		margin: 0 -16px;
		padding: 0;
		list-style-type: none;
	}

	&__elem {
		padding: 0 16px;

		&--wide {
			flex-grow: 1;
		}
	}

	&__link {
		min-width: 385px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 28px 44px;
		background-color: $color-white;
		border-radius: 25px;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		color: $color-blue;
		box-shadow: 0 0 10px rgba($color-blue, .0);
		transition: background-color $transition-default, color $transition-default;

		&:hover {
			background-color: $color-blue;
			color: $color-white;
		}

	}

	&__logo {
		margin-right: 18px;
	}

	&__icon {
		width: 64px;
		height: 64px;
		margin-right: 10px;
	}

	&__text-box {
		flex-grow: 1;
		margin: 0 auto;
		text-align: center;
	}
}
