.section-partner {
	position: relative;

	&__content {
		position: relative;
		z-index: 0;
		padding: 79px 54px 86px;

		&::before {position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			border-radius: 25px;
			background-color: $color-blue;
			background-image: url("../images/section-partner/bg.jpg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			content: "";
		}
	}

	&__col {
		width: 100%;
		max-width: 996px;
	}

	&__title {
		width: 100%;
		max-width: 830px;
		margin-top: 0;
		margin-bottom: 34px;
	}

	&__text {
		font-family: $font-secondary2;
		max-width: 670px;
		margin-top: 0;
		margin-bottom: 51px;
		font-size: 28px;
		line-height: 28px;
		font-weight: 500;
	}

	&__button {
		width: 100%;
		max-width: 247px;
		font-size: 24px;
	}

	&__link-list {
		display: flex;
		padding: 22px 68px 22px;
		margin: 0 0 71px;
		justify-content: space-between;
		border-radius: 25px;
		background-color: $color-white;
		list-style-type: none;
	}

	&__link-elem {
		padding: 0 12px;
	}

	&__link {
		position: relative;
		padding-bottom: 5px;
		font-size: 24px;
		line-height: 24px;
		letter-spacing: .01em;
		font-weight: 700;
		color: #014A97;
		transition: color $transition-default;

		&::after {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 100%;
			max-width: 19px;
			height: 4px;
			border-radius: 4px;
			background-color: $color-red;
			transform: translateX(-50%) scaleX(0);
			content: "";
			transition: transform $transition-default;
		}

		&:hover,
		&--active {
			color: $color-red;

			&::after {
				transform: translateX(-50%);
			}
		}
	}
}
