.section-icon-list {
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 61px;
		padding-top: 10px;
		padding-bottom: 50px;

		@media (min-width: $breakpoint-desktop) {
			justify-content: flex-start;
			row-gap: 26px;
		}
	}

	&__elem {
		margin: 0;
		padding: 0 5px;
		width: 100%;
		max-width: calc(100% / 2);
		flex-shrink: 0;
		text-align: center;

		@media (min-width: $breakpoint-desktop) {
			max-width: calc(100% / 6);
		}
	}

	&__icon-box {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		margin: 0 auto 25px;
	}

	&__icon {
		max-width: 100%;
		max-height: 100%;
	}

	&__text {
		font-size: 18px;
		letter-spacing: .01em;
		font-weight: 500;
		color: #052343;
	}
}
