.section-case-item {
	padding-top: 15px;
	padding-bottom: 47px;

	&__panel {
		padding: 30px 32px 23px;
		border-radius: 25px;
		background-image: linear-gradient(to left, rgba(242, 246, 250, 0) 0%, #F2F6FA 100%);

		&:not(:last-child) {
			margin-bottom: 22px;
		}

		@media (min-width: $breakpoint-laptop) {
			padding: 42px 66px 23px;
			&:not(:last-child) {
				margin-bottom: 52px;
			}
		}
	}

	&__panel-title {
		margin-top: 0;
		margin-bottom: 21px;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 32px;
		font-weight: 800;
		color: $color-blue;

		@media (min-width: $breakpoint-laptop) {
			margin-bottom: 40px;
		}
	}

	&__panel-row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 32px;
	}

	&__panel-list {
		margin: 0;
	}

	&__text {
		margin-top: 0;
		margin-bottom: 10px;
		font-family: $font-secondary2;
		font-size: 18px;
		line-height: 24px;
		font-weight: 900;
	}

	&__list {
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 10px;
		list-style-position: inside;
		font-family: $font-secondary2;
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;

		&:last-child {
			margin-bottom: 25px;
		}
	}
}
