.section-request {
	padding-top: 74px;
	padding-bottom: 40px;

	&--service {
		padding-top: 63px;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 64px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px 98px;

		&--three-col {
			display: grid;
			grid-template-columns: repeat(3, auto);
			grid-template-rows: auto;
			grid-column-gap: 4%;
			grid-row-gap: 21px;
			margin-bottom: 83px;
		}
	}

	&__link-box {
		.section-request__row--three-col & {
			display: flex;
			align-items: flex-start;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		margin: 0 12px;
		padding: 24px 30px;
		border-radius: 25px;
		background-color: $color-white;
		color: $color-black;
		transition: background-color $transition-default, color $transition-default;

		&:hover {
			background-color: $color-blue;
			color: $color-white;
		}

		.section-request__row--three-col & {
			white-space: nowrap;
		}
	}

	&__link-title {
		margin: 0;
		font-size: 16px;
		line-height: 24PX;
		font-weight: 700;
	}

	&__link-arrow {
		width: 12px;
		height: 20px;
		margin-right: 12px;
		color: $color-blue;
		transition: color $transition-default;

		.section-request__link:hover & {
			color: $color-white;
		}
	}

	&__tab-content {
		padding-top: 110px;
		padding-bottom: 40px;
	}

	&__content-row {
		display: flex;
		align-items: center;

		.section-request--service & {
			align-items: flex-start;
		}
	}

	&__col {
		flex-grow: 1;
		width: 100%;
		max-width: 50%;
		flex-shrink: 0;
	}

	&__img {
		max-width: 100%;
		transform: translateX(-12%);

		&--no-overflow {
			transform: none;
		}
	}

	&__list {
		margin-bottom: 62px;
	}

	&__button {
		display: block;
		width: 100%;
		max-width: 244px;
	}

	&__content-title {
		margin-top: 0;
		margin-bottom: 49px;

		&--with-line {
			position: relative;
			margin-bottom: 45px;
			padding-bottom: 54px;

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				max-width: 103px;
				height: 3px;
				border-radius: 3px;
				background-color: $color-red;
				content: "";
			}
		}
	}

	&__content-text {
		max-width: 665px;
		margin-top: 0;
		margin-bottom: 20px;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 24px;
		font-weight: 600;
		color: $color-blue;

		&--small {
			margin-bottom: 43px;
			font-size: 18px;
			font-weight: 300;
		}
	}
}
