.section-vacancy {
	padding-top: 30px;
	padding-bottom: 118px;

	&__search {
		margin-bottom: 44px;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 38px;
	}

	&__subtitle {
		margin-top: 0;
		margin-bottom: 33px;
		font-size: 16px;
		line-height: 32px;
		font-weight: 700;
		color: rgba($color-black, .5);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 31px;
		grid-row-gap: 32px;
	}

	&__item {
		padding: 30px 30px 32px;
		border: 1px solid #C5E0F2;
		border-radius: 10px;
		background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #F2F6FA 100%);
		color: $color-black;
		transition: background-color $transition-default, color $transition-default, border-color $transition-default;

		&:hover {
			background-image: none;
			background-color: $color-blue;
			border-color: $color-blue;
			color: $color-white;
		}
	}

	&__item-row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:first-child {
			margin-bottom: 7px;
		}
	}

	&__item-city {
		margin: 0;
		font-size: 14px;
		line-height: 32px;
		font-weight: 700;
		color: #7A7B7E;
		transition: color $transition-default;

		.section-vacancy__item:hover & {
			color: $color-white;
		}
	}

	&__item-city-marker {
		display: inline-block;
		width: 12px;
		height: 18px;
		transform: translateY(3px);
		margin-right: 7px;
	}

	&__item-salary {
		margin: 0;
		padding-right: 15px;
		font-size: 18px;
		line-height: 32px;
		font-weight: 700;

		&--big {
			font-family: $font-additional;
			font-size: 24px;
		}
	}

	&__item-title {
		display: flex;
		align-items: center;
		margin: 0;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
	}

	&__item-button {
		width: 100%;
		max-width: 137px;
		border: 1px solid $color-blue;
		border-radius: 50px;
		background-color: $color-transparent;
		color: $color-blue;
		transition: background-color $transition-default, color $transition-default;
		padding: 7px 14px;
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		text-align: center;

		.section-vacancy__item:hover & {
			border-color: $color-white;
			background-color: $color-white;
			color: $color-blue;
		}
	}

	&__item-icon {
		width: 24px;
		height: 24px;
		margin-right: 8px;
	}
}
