.section-hero {
	position: relative;
	z-index: 0;
	padding-bottom: 67px;
	color: $color-white;

	&::before {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #00539F 50.02%, rgba(0, 83, 159, 0) 79.38%);
		content: "";
	}

	&--career {
		padding-bottom: 83px;
	}

	&__bg {
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__breadcrumb {
		margin-bottom: 18px;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 34px;
		font-size: 50px;
		line-height: 50px;
		font-weight: 900;

		.section-hero--career & {
			margin-bottom: 47px;
		}
	}

	&__text {
		margin: 0;
		font-size: 18px;
		line-height: 18px;

		.section-hero--career & {
			margin-bottom: 54px;
		}
	}

	&__job-search {
	}

	&__job-row {
		display: grid;
		grid-template-columns: 1fr 1fr 134px;
		grid-column-gap: 32px;
		width: 100%;
		max-width: 978px;
	}

	&__job-label {
		margin-top: 0;
		margin-bottom: 34px;
		font-size: 18px;
		line-height: 18px;
		font-weight: 700;
	}
}
