.section-services {
	padding-top: 58px;
	padding-bottom: 30px;
	overflow: hidden;

	&--career {
		padding-top: 76px;
		padding-bottom: 45px;
	}

	&__title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&__title {
		margin: 0;
	}

	&__nav {
	}

	&__title-btn {
		width: 100%;
		max-width: 176px;
	}
}
