.section-results {
	padding-top: 60px;
	padding-bottom: 30px;

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -75px 32px;
	}

	&__col {
		position: relative;
		height: 10%;
		margin: 0 75px;
		padding-bottom: 34px;

		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			max-width: 106px;
			height: 3px;
			border-radius: 4px;
			background-color: $color-red;
			content:"";
		}
	}

	&__value {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 1.2;
		font-weight: 800;
		letter-spacing: .01em;
		color: $color-blue;
	}

	&__text {
		margin-top: 0;
		margin-bottom: 0;
		font-family: $font-secondary;
		font-size: 12px;
		line-height: 1;
		font-weight:700;
		letter-spacing: .01em;}

	&__button {
		width: 100%;
		max-width: 243px;
	}
}
