.section-success {
	margin-bottom: 42px;

	&--department {
		margin-bottom: 110px;
	}

	&--department2 {
		@media (min-width: $breakpoint-desktop) {
			padding-bottom: 80px;
		}
	}

	&--department4 {
		margin-bottom: 13px;
		@media (min-width: $breakpoint-laptop) {
			margin-bottom: 24px;
		}
		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 57px;
		}
	}

	&--about {
		margin-bottom: 36px;

		@media (min-width: $breakpoint-desktop) {
			margin-top: 80px;
			margin-bottom: 96px;
		}
	}

	&--personal {
		padding-bottom: 72px;
	}

	&__grid {
		display: grid;
		grid-template: auto / 100%;
		grid-gap: 13px;

		@media (min-width: $breakpoint-laptop) {
			grid-template: auto / repeat(2, 1fr);
			grid-gap: 24px;
		}

		@media (min-width: $breakpoint-desktop) {
			grid-template: auto / repeat(4, 1fr);
			grid-gap: 32px;
		}

		.section-success--department & {
			grid-template: auto / repeat(2, 1fr);
			grid-gap: 61px 32px;
		}

		.section-success--department2 & {
			@media (min-width: $breakpoint-desktop) {
				grid-template: auto / repeat(2, 1fr);
				grid-gap: 61px 32px;
			}
		}

		.section-success--department4 & {
			@media (min-width: $breakpoint-desktop) {
				grid-template: auto / repeat(4, 1fr);
				grid-gap: 61px 32px;
			}
		}

		.section-success--mobile-two-col & {
			@media (max-width: $breakpoint-desktop) {
				grid-template: auto / repeat(2, 1fr);
				grid-gap: 16px;
			}
		}

		.section-success__grid + & {
			margin-top: 60px;
		}
	}

	&__elem {
		padding: 26px;
		border-radius: 25px;
		background: linear-gradient(to right, #ECF5FC 0%, rgba(236, 245, 252, 0) 77.01%);
		text-align: center;

		@media (min-width: $breakpoint-desktop) {
			padding: 34px;
		}

		.section-success--department & {
			padding-top: 49px;
			padding-bottom: 49px;
		}

		.section-success--department2 &, .section-success--department4 & {
			padding: 45px;
		}

		.section-success--personal & {
			padding: 34px 43px;
			text-align: left;
		}
	}

	&__value {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 1.2;
		font-weight: 800;
		color: #07529B;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 20px;
		}

		.section-success--department & {
			color: inherit;
		}

		.section-success--department2 & {
			@media (max-width: $breakpoint-desktop) {
				font-size: 24px;
			}
		}

		&--small-mobile {
			@media (max-width: $breakpoint-desktop) {
				font-size: 18px !important;
			}
		}
		.section-success--mobile-two-col & {
			@media (max-width: $breakpoint-desktop) {
				font-size: 24px;
				line-height: 1;
			}
		}

		.section-success--personal & {
			margin-bottom: 17px;
			font-family: $font-secondary;
			font-size: 20px;
			line-height: 32px;
			font-weight: 700;
			color: $color-black;
		}
	}

	&__text {
		font-family: $font-secondary;
		margin: 0;
		font-size: 14px;
		line-height: 1;
		font-weight: 700;

		.section-success--department & {
			max-width: 640px;
			margin: 0 auto;
			font-size: 24px;
			line-height: 24px;
			font-weight: 300;
		}

		.section-success--department2 & {
			font-weight: 300;
		}

		.section-success--personal & {
			font-size: 16px;
			line-height: 16px;
			font-weight: 300;
		}

		.section-success--mobile-two-col & {
			@media (max-width: $breakpoint-desktop) {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 19px;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 67px;
		}
	}

	&__subtitle {
		max-width: 1220px;
		margin-top: 0;
		font-family: $font-secondary;
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;
		margin-bottom: 34px;

		@media (min-width: $breakpoint-desktop) {
			font-size: 24px;
			margin-bottom: 89px;
		}
	}

	&__text-block {
		max-width: 1220px;
		margin-top: 0;
		font-size: 18px;
		line-height: 18px;
		font-weight: 300;
		margin-bottom: 32px;

		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 95px;
			font-size: 24px;
			line-height: 32px;
		}
	}
}
