.section-ready {
	padding-top: 60px;
	padding-bottom: 35px;

	&__title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 60px;
	}

	&__title {
		margin: 0;
	}

	&__card {
		height: 398px;
	}
}
