.section-hero {
	position: relative;
	z-index: 0;
	color: $color-white;

	&--career {
		margin-top: 15px;
		margin-bottom: 20px;
	}

	&--industry {
		margin-top: 12px;
		margin-bottom: 65px;
	}

	&--case {
		margin-top: 28px;
		margin-bottom: 18px;

		@media (min-width: $breakpoint-laptop) {
			margin-top: 10px;
			margin-bottom: 58px;
		}
	}

	&--simple {
		margin-top: 18px;
		margin-bottom: 69px;
	}

	&--about {
		margin-bottom: 30px;
	}

	&__content {
		position: relative;
		padding: 39px 20px 47px;

		@media (min-width: $breakpoint-laptop) {
			padding: 67px 56px 53px 34px;
		}

		.section-hero--industry & {
			padding: 67px 55px 27px;

			@media (min-width: $breakpoint-laptop) {
				padding: 67px 55px 27px;
			}
		}

		.section-hero--simple & {
			padding: 32px 78px 32px 51px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (min-width: $breakpoint-laptop) {
				padding: 32px 78px 32px 51px;
			}
		}
	}

	&__bg {
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 25px;
	}

	&__breadcrumb {
		margin-bottom: 18px;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 34px;
		font-size: 50px;
		line-height: 50px;
		font-weight: 900;

		.section-hero--career & {
			font-family: $font-secondary;
			font-size: 32px;
			line-height: 32px;
			font-weight: 700;
			margin-bottom: 0;

			@media (min-width: $breakpoint-laptop) {
				font-size: 72px;
				line-height: 72px;
			}
		}

		.section-hero--department & {
			margin-bottom: 43px;
			font-size: 32px;
			line-height: 32px;
			font-weight: 700;
		}

		.section-hero--case & {
			font-family: $font-secondary;
			font-size: 32px;
			line-height: 32px;
			font-weight: 700;
			margin-bottom: 27px;

			@media (min-width: $breakpoint-laptop) {
				font-size: 48px;
				line-height: 54px;
			}

			@media (min-width: $breakpoint-desktop) {
				font-size: 72px;
				line-height: 72px;
			}
		}

		.section-hero--industry & {
			font-size: 72px;
			line-height: 72px;
			font-weight: 700;
			margin-bottom: 44px;
		}
	}

	&__text {
		margin: 0;
		font-size: 18px;
		line-height: 18px;

		.section-hero--industry & {
			margin-bottom: 46px;
			font-family: $font-secondary;
			font-size: 24px;
			line-height: 24px;
		}

		.section-hero--career & {
			margin-bottom: 32px;
			font-family: $font-secondary2;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;

			@media (min-width: $breakpoint-laptop) {
				margin-bottom: 54px;
				font-size: 24px;
			}
		}

		.section-hero--case & {
			margin-top: 0;
			margin-bottom: 0;
			font-family: $font-secondary;
			font-size: 18px;
			line-height: 24px;

			@media (min-width: $breakpoint-laptop) {
				font-size: 24px;
				margin-bottom: 38px;
			}
		}

		.section-hero--department & {
			margin-bottom: 57px;
			font-family: $font-secondary;
			font-size: 24px;
			line-height: 24px;
		}
	}

	&__results-row {
		.section-hero--department & {
			margin-bottom: 84px;
		}
	}

	&__title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;

		@media (min-width: $breakpoint-laptop) {
			margin-bottom: 47px;
		}
	}

	&__title-img {
		display: none;

		@media (min-width: $breakpoint-laptop) {
			display: inline-block;
		}
	}

	&__call-text {
		margin: 0;
		font-size: 18px;
		line-height: 32px;
		font-weight: 700;

		@media (min-width: $breakpoint-laptop) {
			font-size: 24px;
		}
	}

	&__call-link {
		color: inherit;
		transition: color $transition-default;

		&:hover {
			color: $color-red;
		}
	}

	&__job-search-row {
		@media (min-width: 1600px) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__job-search {
		width: 100%;
		margin-bottom: 30px;

		@media (min-width: 1600px) {
			max-width: 980px;
			margin-right: 30px;
		}
	}

	&__slogan {
		margin: 0;
		font-family: $font-additional;
		font-size: 24px;
		line-height: 50px;
		font-weight: 700;
	}
}
