.section-case-list {
	padding-top: 5px;
	padding-bottom: 31px;

	&--other {
		padding-top: 70px;
		padding-bottom: 16px;
	}

	&__title-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 39px;

		.section-case-list--other & {
			margin-bottom: 60px;
		}
	}

	&__title {
		margin: 0;
		font-family: $font-primary;
	}

	&__description {
		margin-top: 0;
		margin-bottom: 50px;
		font-family: $font-additional;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		color: rgba($color-black, .5);
	}

	&__dropdown-row {
		display: flex;
		margin: 0 -16px;
	}

	&__dropdown {
		width: 387px;
		margin: 0 16px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 32px;
		grid-row-gap: 32px;
		margin-bottom: 60px;
	}

	&__card {
	}

	&__button-row {
		text-align: center;
	}

	&__button {
		width: 100%;
		max-width: 248px;
	}
}
