.section-other-services {
	padding-top: 59px;
	padding-bottom: 131px;

	&__title {
		margin-top: 0;
		margin-bottom: 64px;
		font-family: $font-primary;
	}

	&__grid {
		display: grid;
		grid-template-columns: 1.4fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 36px;
	}

	&__card {}
}
